body {
	padding-top: 70px;
}

/* navbar display picture */
.nav > li > a > img {
	max-height: 20px;
	width: auto;
	vertical-align: middle;
	margin-right: 4px;
}

.table > thead > tr > th,
.table > tbody > tr > td {
	text-align: center;
	vertical-align: middle;
}

.table > tbody > tr > td > img {
	max-height: 80px;
	width: auto;
}

.listing-block {
	border-bottom: 1px solid #eeeeee;
}

.display-pic {
	max-height: 20px;
	width: auto;
}

.listing-menu > ul > li {
	list-style: none;
	float: right;
	padding-right: 10px;
	margin-bottom: 10px;
}

.listing-menu > ul > li:first-child {
	padding-right: 0px;
}

/* single alert when inventory/playlist is empty */
.panel > .panel-body > .alert {
	margin-bottom: 0;
}

/* panel footer topup input group */
.listing-topup {
	padding: 0;
}

.comments-block {
	border-bottom: 1px solid #eeeeee;
}

.top-pad-ten {
	margin-top: 10px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin: 0;
}