.display-pic {
	max-height: 14px;
	width: auto;
}

.display-pic-lg {
	max-height: 33px;
	width: auto;
}

/* user agent stylesheet is giving this a padding-left of 40px */
.main-search > ul {
	padding-left: 0 !important;
}

.main-search > ul > li {
	list-style: none;
	float: left;
	padding-left: 10px;
	margin-bottom: 10px;
}

.main-search > ul > li:first-child {
	padding-left: 0;
}

.main-search > ul > li.main-search-text {
	margin-top: 9px;
}

.table > thead > tr > th,
.table > tbody > tr > td {
	text-align: center;
	vertical-align: middle;
}

.table > tbody > tr > td > img {
	max-height: 80px;
	width: auto;
}

.listing-block {
	border-bottom: 1px solid #eeeeee;
}

.listing-date {
	padding-top: 9px;
}

.listing-menu > ul > li {
	list-style: none;
	float: right;
	padding-right: 10px;
	margin-bottom: 10px;
}

.listing-menu > ul > li:first-child {
	padding-right: 0;
}

/* single alert when inventory/playlist is empty */
.panel > .panel-body > .alert {
	margin-bottom: 0;
}

/* panel footer topup input group */
.listing-topup {
	padding: 0;
}

.comments {
	border-bottom: 1px solid #eeeeee;
}

.top-pad-ten {
	margin-top: 10px;
}

.answer-block {
	padding-top: 20px;
	padding-bottom: 30px;
}

.conversation-menu {
	width: 15%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin: 0;
}