html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

#panel {
  position: absolute;
  z-index: 5;
  right: 16px;
  bottom: 16px;
  padding: 5px;
  border: 1px solid #999;
}

.display-pic {
  max-height: 14px;
  width: auto;
}