<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="../favicon.ico">
  <title>maphack | search. trade. play.</title>
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/stylesheets/navbar-fixed-top.css" rel="stylesheet">
  <link href="/stylesheets/main.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/scripts/sorttable.js"></script>
  <script src="/scripts/alerts.js"></script>
  <script src="/scripts/games.js"></script>
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/dashboard">maphack</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li id="nav-dash" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">dashboard <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li id="nav-dash-profile"><a href="/profile">profile</a></li>
              <li id="nav-dash-loc"><a href="/locations">locations</a></li>
            </ul>
          </li>
          <li id="nav-inv"><a href="/inventory">inventory</a></li>
          <li id="nav-pl"><a href="/playlist">playlist</a></li>
          <li id="nav-list" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">listings <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li id="nav-list-my"><a href="/listings">my listings</a></li>
              <li id="nav-list-add"><a href="/listings/add">add</a></li>
              <li class="divider"></li>
              <!--<li class="dropdown-header"></li>-->
              <li id="nav-list-recent"><a href="/listings/recent">recent listings</a></li>
              <li id="nav-list-search"><a href="/listings/search">search</a></li>
            </ul>
          </li>
          <li id="nav-feedback"><a href="/feedback">feedback</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/profile"><img class="display-pic" src="{{ user.pic }}"> {{ user.name or 'user' }}</a></li>
          <li><a href="{{ logout }}"><span class="glyphicon glyphicon-off"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    {% block content %}{% endblock %}
  </div>
</body>
</html>