{% extends "base.html" %}
{% block content %}

<h2>Frequently Asked Questions</h2><br>

<a href="#whatismaph4ck">What is maph4ck?</a><br>
<a href="#locations">What are locations for?</a><br>
<a href="#inventoryplaylist">What is the inventory/playlist? Why should I add games to it?</a><br>
<a href="#howdoitrade">How do I buy/sell/trade my game(s)?</a><br>
<a href="#whatislisting">What is a listing?</a><br>
<a href="#whatistopup">What does the topup field in a listing mean?</a><br>
<a href="#submeaning">What does it mean to subscribe to/unsubscribe from a listing/conversation?</a><br>
<a href="#maphack">What does the maphack! button on the search results page do?</a><br>
<a href="#profilepage">What appears on my personal profile page?</a><br>
<a href="#whyprovidecontactno">Why should I provide a contact number?</a><br>
<a href="#howcontact">How do I contact you?</a><br><br><br>

<div id="whatismaph4ck" class="answer-block jumbotron">
	<h4>What is maph4ck?</h4>
	maph4ck is a site where users can trade the games they no longer want for the games that they need. Users can look for trades at places convenient to them by viewing their locations on our map.
</div>
<div id="locations" class="answer-block jumbotron">
	<h4>What are locations for?</h4>
	Locations represent the places where you are willing to meet other users to trade. They let users determine if it is convenient to trade with you. Your locations will also be made publicly available so that users who are not logged in can determine if it is convenient to trade with you.
</div>
<div id="inventoryplaylist" class="answer-block jumbotron">
	<h4>What is the inventory/playlist? Why should I add games to it?</h4>
	Your inventory keeps track of games that you have and want to trade away; your playlist keeps track of games that you want to trade for. By adding games to your inventory/playlist, other users can make you trade offers without having to ask you whether you'd be interested to trade certain games.
</div>
<div id="howdoitrade" class="answer-block jumbotron">
	<h4>How do I buy/sell/trade my game(s)?</h4>
	Add the games you own and want to trade away to your inventory.
	Add the games you want other people to trade to you to your playlist.
	Put up listings that tell others what trades you want to make (e.g. Battlefield and Call of Duty for Destiny and $10).
</div>
<div id="whatislisting" class="answer-block jumbotron">
	<h4>What is a listing?</h4>
	A listing is a user selection of games that the user wants to trade for/away (e.g. Battlefield and Call of Duty for Destiny and $10).
	Listings are publicly viewable. Other users can search for listings, comment and view the user's profile page.
</div>
<div id="whatistopup" class="answer-block jumbotron">
	<h4>What does the topup field in a listing mean?</h4>
	The topup field indicates the amount of money that either you are either willing to contribute, or want the other party to contribute to make the trade. For example, a topup of $50 on the offering side indicates that you are willing to pay $50 on top of any games you may be offering. On the other hand, a topup of $50 on the requesting side means that you want the other person to pay $50 instead.
</div>
<div id="submeaning" class="answer-block jumbotron">
	<h4>What does it mean to subscribe to/unsubscribe from a listing/conversation?</h4>
	If you are subscribed to a listing or a conversation, you will receive an email notification whenever someone else posts a new comment or message there. 
	You can choose to unsubscribe from a listing or conversation in order to avoid notifications from there.
	Users are subscribed to a listing they create and the conversations they are in by default.
</div>
<div id="maphack" class="answer-block jumbotron">
	<h4>What does the maphack! button on the search results page do?</h4>
	The maphack! button displays all the search results in a map view. Each marker on the map represents a location belonging to one of the people who have listings that match your search results. Clicking on the marker allows you to view the listings that match your search at that location.
</div>
<div id="profilepage" class="answer-block jumbotron">
	<h4>What appears on my personal profile page?</h4>
	Your profile page at http://maph4ck.appspot.com/users/&lt;userid&gt; is public and will contain the following:
	Your country.
	Your bio.
	Your trading locations.
	Games in your inventory/playlist.
	Your contact information can only be viewed by a logged in maph4ck user.
</div>
<div id="whyprovidecontactno" class="answer-block jumbotron">
	<h4>Why should I provide a contact number?</h4>
	Providing your contact number makes it a lot easier for other users to contact you, especially if you are unlikely to be monitoring your maph4ck account frequently. It is also a lot more convenient to contact each other through the phone when making the actual trade at your chosen location.
</div>
<div id="howcontact" class="answer-block jumbotron">
	<h4>How do I contact you?</h4>
	For feedback regarding maph4ck, please use the feedback page found at the navigation bar. For other enquiries, feel free to send an email to developer.maph4ck[at]gmail.com!
</div>
<script>
	$('#nav-faq').addClass("active");
</script>
<script>
/**
  * Check an href for an anchor. If exists, and in document, scroll to it.
  * If href argument omitted, assumes context (this) is HTML Element,
  * which will be the case when invoked by jQuery after an event
  */
function scroll_if_anchor(href) {
    href = typeof(href) == "string" ? href : $(this).attr("href");

    // If href missing, ignore
    if(!href) return;

    // You could easily calculate this dynamically if you prefer
    var fromTop = 30;

    // If our Href points to a valid, non-empty anchor, and is on the same page (e.g. #foo)
    // Legacy jQuery and IE7 may have issues: http://stackoverflow.com/q/1593174
    if(href.charAt(0) == "#") {
        var $target = $(href);

        // Older browsers without pushState might flicker here, as they momentarily
        // jump to the wrong position (IE < 10)
        if($target.length) {
            $('html, body').animate({ scrollTop: $target.offset().top - fromTop });
            if(history && "pushState" in history) {
                history.pushState({}, document.title, window.location.pathname + href);
                return false;
            }
        }
    }
}

// When our page loads, check to see if it contains and anchor
scroll_if_anchor(window.location.hash);

// Intercept all anchor clicks
$("body").on("click", "a", scroll_if_anchor);
</script>
{% endblock %}