{% extends "base.html" %}
{% block content %}
<div class="page-header">
	<h1>feedback</h1>
</div>
<div id="alerts"></div>
<form id="form" class="form-horizontal" role="form">
	<div class="form-group">
		<label for="feedback" class="col-sm-2 control-label">feedback</label>
		<div class="col-sm-10">
			<div class="input-group">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-user"></span>
				</span>
				<textarea id="feedback" class="form-control" rows="5" placeholder="we would love to hear from you!"></textarea>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button id="submit" type="button" class="btn btn-default">submit</button>
		</div>
	</div>
</div>
<script>
	$('#submit').click(function(event) {
		clearAlerts();
		$("#form :input").prop("disabled", true);

		var feedback = $('#feedback').val().trim();

		if (feedback.length > 500) {
			$('#alerts').append(alertBootstrap('danger', 'feedback exceeds 500 characters.'))
		} else {
			$.ajax({
				type: 'POST',
				url: '/feedback',
				data: {feedback: feedback},
				success: function(data, textStatus, jqXHR) {
					console.log(data);
					console.log(textStatus);
					console.log(jqXHR);

					$('#alerts').append(alertBootstrap('success', 'feedback sent. thank you for helping to improve the maphack experience!'));
					alertTimeout(5000);

					$('#form')[0].reset();
				},
				error: function(jqXHR, textStatus, errorThrown) {
					console.log(jqXHR);
					console.log(textStatus);
					console.log(errorThrown);
					var errors = eval(jqXHR.responseText);

					for (var i = 0; i < errors.length; i++) {
						$('#alerts').append(alertBootstrap('danger', errors[i]));
					}
				}
			});
		}

		$('#form :input').prop('disabled', false);
	});
</script>
<script>
	$('#nav-feedback').addClass("active");
</script>
{% endblock %}