<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>maphack | search. trade. play.</title>
	<link rel="shortcut icon" href="../favicon.ico">
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="/bootstrap-social/css/bootstrap-social.css" rel="stylesheet">
	<link href="/stylesheets/jumbotron.css" rel="stylesheet">
	<link href="/stylesheets/main.css" rel="stylesheet">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>
	<script src="/scripts/sorttable.js"></script>
	<script src="/scripts/games.js"></script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">maphack</a>
			</div>
			<div class="navbar-collapse collapse">
				<form class="navbar-form navbar-right" role="form">
					<a class="btn btn-block btn-social btn-google-plus" href="/dashboard">
						<i class="fa fa-google-plus"></i>Sign in with Google
					</a>
				</form>
			</div>
		</div>
	</div>
	<div class="jumbotron">
		<div class="container">
			<h1>search. trade. play.</h1>
			<p>the best prices. the best deals. the best games.</p>
			<p>start saving - start saving the world!</p>
			<form class="main-search" action="/listings/search" method="get">
				<ul>
					<li class="main-search-text">I want to trade</li>
					<li>
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-primary active"><input name="query_type" value="seek" type="radio" checked>for</label>
							<label class="btn btn-primary"><input name="query_type" value="own" type="radio">away</label>
						</div>
					</li>
					<li><input name="title" type="text" class="form-control" placeholder="game title"></li>
					<li class="main-search-text">on</li>
					<li>
						<select name="platform" class="form-control">
							<option>PC</option>
							<option>Mac</option>
							<option>PS4</option>
							<option>Xbox One</option>
							<option>Wii U</option>
							<option>PS3</option>
							<option>Xbox 360</option>
							<option>Wii</option>
							<option>PS Vita</option>
							<option>3DS</option>
							<option>PSP</option>
							<option>DS</option>
							<option>Other</option>
						</select>
					</li>
					<li>
						<button type="submit" class="btn btn-default">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</li>
				</ul>
			</form>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h2>search</h2>
				<p>It's never been easier to save money on games! Finished a game and want to trade it for the hottest games? Browse the latest listings and get what you want!</p>
				<p><a class="btn btn-default" href="/listings/recent">View recent listings &raquo;</a></p>
			</div>
			<div class="col-md-4">
				<h2>trade</h2>
				<p>Less travelling, more playing! Trade with other gamers near your home, school, or office. You might even make new friends to share games with!</p>
				<p><a class="btn btn-default" href="#">Search listings &raquo;</a></p>
			</div>
			<div class="col-md-4">
				<h2>play</h2>
				<p>Save time and money so you can play more - for less! No more bumping threads in buy/sell forums. Just create a listing - it's that simple!</p>
				<p><a class="btn btn-default" href="/dashboard">Sign up now &raquo;</a></p>
			</div>
		</div>
		<hr>
		<footer>
			<p>&copy; maphack 2014</p>
		</footer>
	</div>
</body>
</html>