<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>maphack | search. trade. play.</title>
	<link rel="shortcut icon" href="../favicon.ico">
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="/bootstrap-social/css/bootstrap-social.css" rel="stylesheet">
	<link href="/stylesheets/jumbotron.css" rel="stylesheet">
	<link href="/stylesheets/main.css" rel="stylesheet">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>
	<script src="/scripts/sorttable.js"></script>
	<script src="/scripts/games.js"></script>
</head>
<style type="text/css">
		::-webkit-scrollbar { 
		    display: none; 
		}
</style>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">maphack</a>
			</div>
			<div class="navbar-collapse collapse">
				<form class="navbar-form navbar-right" role="form">
					<a class="btn btn-block btn-social btn-google-plus" href="/dashboard">
						<i class="fa fa-google-plus"></i>Sign in with Google
					</a>
				</form>
			</div>
		</div>
	</div>
	<div class="jumbotron" style="padding-top: 0px; margin-bottom 10px;">
		<div class="jumbotron" style="height: 350px; overflow-y: scroll; padding-bottom: 10px; margin-top: 0px;	padding-top: 0px;">
			<div class="container">
				<h3 style="text-align: center">latest listing</h3>
				<div id="listing">
					<div class="listing-block">
						<div class="row">
							<div class="col-md-6">
								<h4><a href="/user/{{ person.key.urlsafe() }}"><img class="display-pic" src="{{ person.pic }}">{{ person.name }}</a></h4>
							</div>
							<div class="col-md-6">
								<div class="listing-menu">
									<ul>
										<li><a class="btn btn-default" href="/listing/{{ listing.key.urlsafe() }}"><span class="glyphicon glyphicon glyphicon-link"></span></a></li>
										<li><div class="listing-date">posted {{ listing.date.strftime('%c') }}</div></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<h3 class="panel-title">offering</h3>
									</div>
									{% if own_games|length %}
									<div class="table-responsive">
										<table class="sortable table table-bordered table-striped">
											<thead>
												<tr>
													<th width="70%" style="text-align: left">title</th>
													<th width="20%">platform</th>
													<th class="sorttable_nosort" width="10%">picture</th>
												</tr>
											</thead>
											<tbody>
												{% for game in own_games %}
												<tr id="{{ game.key.urlsafe() }}" class="game" title="{{ game.title }}" data-content="<p>description: {{ game.description or 'none' }}</p>">
													<td width="70%" style="text-align: left">{{ game.title }}</td>
													<td width="20%">{{ game.platform }}</td>
													<td width="10%">
														{% if game.pic %}
														<a class="btn btn-default" href="{{ game.pic }}" target="_blank">
															<span class="glyphicon glyphicon-picture"></span>
														</a>
														{% else %}
														n/a
														{% endif %}
													</td>
												</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
									{% else %}
									<div class="panel-body">
										<div class="alert alert-info">
											no games here!
										</div>
									</div>
									{% endif %}
									{% if listing.topup > 0 %}
									<div class="panel-footer listing-topup">
										<div class="input-group">
											<span class="input-group-addon">topup ${{ listing.topup }}</span>
										</div>
									</div>
									{% endif %}
								</div>
							</div>
							<div class="col-md-6">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<h3 class="panel-title">requesting</h3>
									</div>
									{% if seek_games|length %}
									<div class="table-responsive">
										<table class="sortable table table-bordered table-striped">
											<thead>
												<tr>
													<th width="70%" style="text-align: left">title</th>
													<th width="20%">platform</th>
													<th class="sorttable_nosort" width="10%">picture</th>
												</tr>
											</thead>
											<tbody>
												{% for game in seek_games %}
												<tr id="{{ game.key.urlsafe() }}" class="game" title="{{ game.title }}" data-content="<p>description: {{ game.description or 'none' }}</p>">
													<td width="70%" style="text-align: left">{{ game.title }}</td>
													<td width="20%">{{ game.platform }}</td>
													<td width="10%">
														{% if game.pic %}
														<a class="btn btn-default" href="{{ game.pic }}" target="_blank">
															<span class="glyphicon glyphicon-picture"></span>
														</a>
														{% else %}
														n/a
														{% endif %}
													</td>
												</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
									{% else %}
									<div class="panel-body">
										<div class="alert alert-info">
											no games here!
										</div>
									</div>
									{% endif %}
									{% if listing.topup < 0 %}
									<div class="panel-footer listing-topup">
										<div class="input-group">
											<span class="input-group-addon">topup ${{ -listing.topup }}</span>
										</div>
									</div>
									{% endif %}
								</div>
							</div>
						</div>
						<h4>description</h4>
						<p>{{ listing.description or 'none' }}</p>
					</div>
				</div>
			</div>
		</div>
	</div> 
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h2>search</h2>
				<p>It's never been easier to save money on games! Just finished a game and want to trade it for the latest, hottest games? Browse the newest listings and get what you want!</p>
			</div>
			<div class="col-md-4">
				<h2>trade</h2>
				<p>Less travelling, more playing! Trade with other gamers near your home, school, or office. You might even make new friends to share games with!</p>
			</div>
			<div class="col-md-4">
				<h2>play</h2>
				<p>Save time and money so you can play more - for less! No more bumping threads in buy/sell forums. Just create a listing - it's that simple!</p>
			</div>
		</div>
		<hr>
		<div>

		</div>
		<hr>
		<footer>
			<p>&copy; maphack 2014</p>
		</footer>
	</div>
	<script>

		function getListing() {
			console.log('lets go');
			$.ajax({
				type: 'GET',
				url: '/get/listing',
				success: function(data, textStatus, jqXHR) {
					console.log(data);
					console.log(textStatus);
					console.log(jqXHR);

					$('#listing').fadeOut("slow", function(){
						$('#listing').html(data);
						$('#listing').fadeIn("slow");
					});			
				}
			});
		}

		$(document).ready(function() {
			setInterval(function () {
				getListing()
			}, 10000);
		});
	</script>
</body>
</html>