{% extends "base.html" %}
{% block content %}
<div class="page-header">
	<h1>
		inventory
		<a class="btn btn-default" href="/inventory/add">
			<span class="glyphicon glyphicon-plus"></span>
		</a>
	</h1>
</div>
<div id="alerts">
	{% if not inventory.count() %}
	<div class="alert alert-info">
		no games in your inventory! add the games you want to trade away.
	</div>
	{% endif %}
</div>
{% if inventory.count() %}
<div class="table-responsive">
	<table id="inventory" class="sortable table table-bordered table-striped">
		<thead>
			<tr>
				<th width="20%" style="text-align: left">title</th>
				<th width="10%">platform</th>
				<th width="20%" style="text-align: left">description</th>
				<th class="sorttable_nosort" width="20%">image</th>
				<th width= "10%">date</th>
				<th class="sorttable_nosort" width="10%">search listings</th>
				<th class="sorttable_nosort" width="10%">delete</th>
			</tr>
		</thead>
		<tbody>
			{% for game in inventory %}
			<tr id="{{ game.key.urlsafe() }}">
				<td width="20%" style="text-align: left">{{ game.title }}</td>
				<td width="10%">{{ game.platform }}</td>
				<td width="20%" style="text-align: left">{{ game.description }}</td>
				<td width="20%">
					{% if game.pic %}
					<img src="{{ game.pic }}">
					{% endif %}
				</td>
				<td width="10%">{{ game.date.strftime('%c') }}</td>
				<td width="10%">
					<a class="btn btn-default" href="/listings/search?own_url={{ game.key.urlsafe() }}">
						<span class="glyphicon glyphicon-search"></span>
					</a>
				</td>
				<td width="10%">
					<button type="button" class="btn btn-default delete" value="{{ game.key.urlsafe() }}">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endif %}
<script>
	$('.delete').click(function(event) {
		clearAlerts();

		var game_url = $(this).attr('value');

		$.ajax({
			type: 'POST',
			url: '/inventory/delete',
			data: {game_url: game_url},
			success: function(data, textStatus, jqXHR) {
				console.log(data);
				console.log(textStatus);
				console.log(jqXHR);

				$('#alerts').append(alertBootstrap('success', 'game deleted.'));
				alertTimeout(5000);

				$('#' + game_url).remove();

				if ($('#inventory tr').length == 1) {
					$('#inventory').fadeTo(500, 0).slideUp(500, function() {
						$(this).remove();
					});
					$('#alerts').append(alertBootstrap('info', 'no games in your inventory! add the games you want to trade away.'));
				}
			},
			error: function(jqXHR, textStatus, errorThrown) {
				console.log(jqXHR);
				console.log(textStatus);
				console.log(errorThrown);
				var errors = eval(jqXHR.responseText);

				for (var i = 0; i < errors.length; i ++) {
					$('#alerts').append(alertBootstrap('danger', errors[i]));
				}
			}
		});
	});
</script>
<script>
	$('#nav-inv').addClass("active");
</script>
{% endblock %}