{% extends "base.html" %}
{% block content %}
<div class="page-header">
	<h1>
		<img class="display_pic" src="{{ person.pic }}">
		{{ person.name }}'s listing
		<a class="btn btn-default" href="/user/{{ person.key.id() }}">
			<span class="glyphicon glyphicon-user"></span>
		</a>
		<div class="date">
			{{ listing.date.strftime('%d/%m/%Y') }}
		</div>
	</h1>
</div>
<div class="row listing-blk">
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">offering</h3>
			</div>
			{% if own_games|length %}
			<div class="table-responsive">
				<table class="sortable table table-bordered table-striped">
					<thead>
						<tr>
							<th width = "80%" style="text-align: left">title</th>
							<th width = "20%">platform</th>
						</tr>
					</thead>
					<tbody>
						{% for game in own_games %}
						<tr id="{{ game.key.id() }}">
							<td width = "80%" style="text-align: left">{{ game.title }}</td>
							<td width = "20%">{{ game.platform }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
			<div class="panel-body">
				<div class="alert alert-info">
					no games here!
				</div>
			</div>
			{% endif %}
			{% if listing.topup > 0 %}
			<div class="panel-footer listing-topup">
				<div class="input-group">
					<span class="input-group-addon">topup ${{ listing.topup }}</span>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">requesting</h3>
			</div>
			{% if seek_games|length %}
			<div class="table-responsive">
				<table class="sortable table table-bordered table-striped">
					<thead>
						<tr>
							<th width = "80%" style="text-align: left">title</th>
							<th width = "20%">platform</th>
						</tr>
					</thead>
					<tbody>
						{% for game in seek_games %}
						<tr id="{{ game.key.id() }}">
							<td width = "80%" style="text-align: left">{{ game.title }}</td>
							<td width = "20%">{{ game.platform }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
			<div class="panel-body">
				<div class="alert alert-info">
					no games here!
				</div>
			</div>
			{% endif %}
			{% if listing.topup < 0 %}
			<div class="panel-footer listing-topup">
				<div class="input-group">
					<span class="input-group-addon">topup ${{ -listing.topup }}</span>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
	<div style="padding-left: 15px;">
		<h4>description</h4>
		<p>{{ listing.description }}</p>
	</div>
</div>
<div class="comment-blk">
	{% for comment in comments %}
	<div class="comment">
		<p><a href="/user/{{ comment.owner_key.urlsafe() }}"><img src="{{ comment.owner_key.get().pic }}">{{ comment.owner_key.get().name }}</a> commented on {{ comment.date.strftime('%c') }}</p>
		<p>{{ comment.content }}</p>
	</div>
	{% endfor %}
</div>
<div id="comment-alerts"></div>
<form id="form" class="form-horizontal" role="form">
	<div class="form-group">
		<label for="comment" class="col-sm-2 control-label">comment</label>
		<div class="col-sm-10">
			<div class="input-group">
				<span class="input-group-addon">
					<i class="glyphicon glyphicon-italic"></i>
				</span>
				<textarea class="form-control" id="comment" rows="3" placeholder="flame the owner"></textarea>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button id="post" type="button" class="btn btn-default">post</button>
		</div>
	</div>
</form>
<script>
	var listing_url = '{{ listing.key.urlsafe() }}';

	$('#post').click( function(event) {
				clearAlerts();

		var comment = $('#comment').val().trim();

		if (!comment) {
			$('#comment-alerts').append('<div class="alertdiv alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>comment cannot be empty.</div>');
		} else {
			$.ajax({
				type: 'POST',
				url: '/listing/comment',
				data: {listing_url: listing_url, comment: comment},
				success: function(data, textStatus, jqXHR) {
					console.log(data);
					console.log(textStatus);
					console.log(jqXHR);

					$('#comment-alerts').append('<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>comment posted.</div>');

					alertTimeout(5000);

					$('#form')[0].reset();
				},
				error: function(jqXHR, textStatus, errorThrown) {
					console.log(jqXHR);
					console.log(textStatus);
					console.log(errorThrown);
					var errors = eval(jqXHR.responseText);

					for (var i = 0; i < errors.length; i ++) {
						$('#comment-alerts').append('<div class="alertdiv alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' + errors[i] + '</div>');
					}
				}
			});
		}
	});
</script>
<script>
	$('#nav-list').addClass("active");
</script>
{% endblock %}