{% extends "base.html" %}
{% block content %}
<div id="tables" class="top-pad-one">
	<div id="inventory" style="float: left; width: 50%">
		<h4>inventory</h4><br>
	</div>
	<div id="playlist" style="float: right; width: 50%">
		<h4>playlist</h4><br>
	</div>
</div>
<div id="addlisting" class="top-pad-one" style="clear: both; float: right">
	{% if inventory|length and playlist|length %}
	<input type="button" value="add listing" onclick="addListing()">
	{% endif %}
</div>
<script>
	var inventory = {{ inventory|safe }};
	var playlist = {{ playlist|safe }};
	console.log(inventory);

	initialise();

	function initialise() {
		var tablesDiv = document.getElementById("tables");
		var invDiv = document.getElementById("inventory");
		var plDiv = document.getElementById("playlist");

		// create inventory table
		if (inventory.length) {
			// initialise table
			var invTable = document.createElement("table");
			invTable.className = "sortable table table-bordered table-striped";

			// initialise header
			var header = invTable.createTHead();

			// initialise row
			var row = header.insertRow(0);

			//initialise cells
			var cell = row.insertCell(0);
			cell.style.width = "5%";
			cell = row.insertCell(1);
			cell.innerHTML = "title";
			cell.style.width = "80%";
			cell = row.insertCell(2);
			cell.innerHTML = "platform";
			cell.style.width = "15%";

			// initialise body
			var body = invTable.createTBody();

			for (var i = 0; i < inventory.length; i++) {
				// initialise row
				var row = body.insertRow(i);

				// initialise cells
				cell = row.insertCell(0);
				cell.style.width = "5%";

				var checkbox = document.createElement("input");
				checkbox.id = "inv" + i;
				checkbox.type = "checkbox";
				cell.appendChild(checkbox);

				cell = row.insertCell(1);
				cell.innerHTML = inventory[i]["title"];
				cell.style.width = "80%";

				cell = row.insertCell(2);
				cell.innerHTML = inventory[i]["platform"];
				cell.style.width = "15%";
			}

			invDiv.appendChild(invTable);
		} else {
			invDiv.innerHTML += "<center>no games in your inventory!</center>";
		}

		// create playlist table
		if (playlist.length) {
			// initialise table
			var plTable = document.createElement("table");
			plTable.className = "sortable table table-bordered table-striped";

			// initialise header
			var header = plTable.createTHead();

			// initialise row
			var row = header.insertRow(0);

			//initialise cells
			var cell = row.insertCell(0);
			cell.style.width = "5%";
			cell = row.insertCell(1);
			cell.innerHTML = "title";
			cell.style.width = "80%";
			cell = row.insertCell(2);
			cell.innerHTML = "platform";
			cell.style.width = "15%";

			// initialise body
			var body = plTable.createTBody();

			for (var i = 0; i < playlist.length; i++) {
				// initialise row
				var row = body.insertRow(i);

				// initialise cells
				cell = row.insertCell(0);
				cell.style.width = "5%";

				var checkbox = document.createElement("input");
				checkbox.id = "pl" + i;
				checkbox.type = "checkbox";
				cell.appendChild(checkbox);

				cell = row.insertCell(1);
				cell.innerHTML = playlist[i]["title"];
				cell.style.width = "80%";

				cell = row.insertCell(2);
				cell.innerHTML = playlist[i]["platform"];
				cell.style.width = "15%";
			}

			plDiv.appendChild(plTable);
		} else {
			plDiv.innerHTML += "<center>no games in your playlist!</center>";
		}

		// create topup form inputs
		var topupDiv = document.createElement("div");
		topupDiv.style.clear = "both";

		if (inventory.length) {
			var priceInputDiv = document.createElement("div");
			priceInputDiv.style.float = "right";

			if (playlist.length) {
				priceInputDiv.appendChild(document.createTextNode("topup:"));
			} else {
				priceInputDiv.appendChild(document.createTextNode("price:"));
			}

			var priceInput = document.createElement("input");
			priceInput.id = "yourtopup";
			priceInput.type = "number";
			priceInput.className = "price";
			priceInput.step = "0.01";
			priceInput.value = "0.00";

			priceInputDiv.appendChild(priceInput);
			topupDiv.appendChild(priceInputDiv);
		}

		if (playlist.length) {
			var priceInputDiv = document.createElement("div");
			priceInputDiv.style.float = "left";

			if (inventory.length) {
				priceInputDiv.appendChild(document.createTextNode("topup:"));
			} else {
				priceInputDiv.appendChild(document.createTextNode("price:"));
			}

			var priceInput = document.createElement("input");
			priceInput.id = "mytopup";
			priceInput.type = "number";
			priceInput.className = "price";
			priceInput.step = "0.01";
			priceInput.value = "0.00";


			priceInputDiv.appendChild(priceInput);
			topupDiv.appendChild(priceInputDiv);
		}

		tablesDiv.appendChild(topupDiv);
	}

	function addListing() {
		var listing = {
			own: [],
			seek: [],
			mytopup: 0,
			yourtopup: 0,
		};

		try {
			if (document.getElementById("mytopup")) {
				listing.mytopup = currencyFormat(document.getElementById("mytopup").value);
			}

			if (document.getElementById("yourtopup")) {
				listing.yourtopup = currencyFormat(document.getElementById("yourtopup").value);
			}

			// add checked items in the inventory to the trade
			for (var i = 0; i < inventory.length; i++) {
				if (document.getElementById("inv" + i).checked) {
					listing.own.push(inventory[i]["game_id"]);
				}
			}

			// add checked items in the playlist to the trade
			for (var i = 0; i < playlist.length; i++) {
				if (document.getElementById("pl" + i).checked) {
					listing.seek.push(playlist[i]["game_id"]);
				}
			}

			if (listing.own.length == 0 && listing.seek.length == 0) {
				throw "please add games to your listing.";
			}

			if (listing.mytopup > 0 && listing.yourtopup > 0) {
				throw "you cannot offer and request a topup at the same time.";
			}

			if ((listing.own.length != 0 || listing.mytopup > 0) && (listing.seek.length == 0 && listing.yourtopup == 0)) {
				throw "please add a price or games you would like to trade for.";
			}

			if ((listing.seek.length != 0 || listing.yourtopup > 0) && (listing.own.length == 0 && listing.mytopup == 0)) {
				throw "please add a price or games you would like to trade away.";
			}

			$.ajax({
				type: "POST",
				url: "/listings/add",
				data: JSON.stringify(listing),
				contentType: "application/json",
				success: function(response){
					if (response == "success") {
						alert("listing added.");
					}
				},
				error: function(response) {
					alert("error.");
					console.log(response);
				}
			});

		} catch (error) {
			alert(error);
		}

		console.log(listing);
	}

	function currencyFormat(input) {
		if (input == "") {
			throw "please enter a valid price.";
		}

		tokens = input.split(".");
		output = tokens[0];

		if (tokens[1]) {
			if (tokens[1].length > 2) {
				throw "price should contain up to 2 decimal places.";
			}

			output += ".";
			if (tokens[1].length == 1) {
				output += tokens[1].substring(0,1);
			} else {
				output += tokens[1].substring(0,2);
			}
		}
		return parseFloat(output);
	}

	$(document).ready(function(){
		// only allow numbers, decimal points, periods, backspaces, deletes to be typed in .price fields
		$(".price").keydown(function (event) {
			if (event.shiftKey) {
				event.preventDefault();
			}

			if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 110 || event.keyCode == 190) {
			}
			else {
				if (event.keyCode < 95) {
					if (event.keyCode < 48 || event.keyCode > 57) {
						event.preventDefault();
					}
				}
				else {
					if (event.keyCode < 96 || event.keyCode > 105) {
						event.preventDefault();
					}
				}
			}
		});
	});
</script>
<script>
	$('#nav-list').addClass("active");
	$('#nav-list-add').addClass("active");
</script>
{% endblock %}