{% extends "base.html" %}
{% block content %}
<div class="page-header">
	<h1>listing</h1>
</div>
<div class="listing-block">
	<div class="row">
		<div class="col-md-6">
			<h4><a href="/user/{{ person.key.urlsafe() }}"><img class="display-pic" src="{{ person.pic }}">{{ person.name }}</a></h4>
		</div>
		<div class="col-md-6">
			<div class="listing-menu">
				<ul>
					<li><a class="btn btn-default" href="/user/locations/{{ person.key.urlsafe() }}"><span class="glyphicon glyphicon-map-marker"></span></a></li>
					<li><div class="listing-date">posted {{ listing.date.strftime('%c') }}</div></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">offering</h3>
				</div>
				{% if own_games|length %}
				<div class="table-responsive">
					<table class="sortable table table-bordered table-striped">
						<thead>
							<tr>
								<th width="70%" style="text-align: left">title</th>
								<th width="20%">platform</th>
								<th width="10%">picture</th>
							</tr>
						</thead>
						<tbody>
							{% for game in own_games %}
							<tr id="{{ game.key.urlsafe() }}" class="game" title="{{ game.title }}" data-content="<p>description: {{ game.description or 'none' }}</p>">
								<td width="70%" style="text-align: left">{{ game.title }}</td>
								<td width="20%">{{ game.platform }}</td>
								<td width="10%">
									{% if game.pic %}
									<a class="btn btn-default" href="{{ game.pic }}" target="_blank">
										<span class="glyphicon glyphicon-picture"></span>
									</a>
									{% else %}
									n/a
									{% endif %}
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{% else %}
				<div class="panel-body">
					<div class="alert alert-info">
						no games here!
					</div>
				</div>
				{% endif %}
				{% if listing.topup > 0 %}
				<div class="panel-footer listing-topup">
					<div class="input-group">
						<span class="input-group-addon">topup ${{ listing.topup }}</span>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">requesting</h3>
				</div>
				{% if seek_games|length %}
				<div class="table-responsive">
					<table class="sortable table table-bordered table-striped">
						<thead>
							<tr>
								<th width="70%" style="text-align: left">title</th>
								<th width="20%">platform</th>
								<th width="10%">picture</th>
							</tr>
						</thead>
						<tbody>
							{% for game in seek_games %}
							<tr id="{{ game.key.urlsafe() }}" class="game" title="{{ game.title }}" data-content="<p>description: {{ game.description or 'none' }}</p>">
								<td width="70%" style="text-align: left">{{ game.title }}</td>
								<td width="20%">{{ game.platform }}</td>
								<td width="10%">
									{% if game.pic %}
									<a class="btn btn-default" href="{{ game.pic }}" target="_blank">
										<span class="glyphicon glyphicon-picture"></span>
									</a>
									{% else %}
									n/a
									{% endif %}
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{% else %}
				<div class="panel-body">
					<div class="alert alert-info">
						no games here!
					</div>
				</div>
				{% endif %}
				{% if listing.topup < 0 %}
				<div class="panel-footer listing-topup">
					<div class="input-group">
						<span class="input-group-addon">topup ${{ -listing.topup }}</span>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
	<h4>description</h4>
	<p>{{ listing.description or 'none' }}</p>
</div>
<div id="comments" class="comments">
	<h4>comments</h4>
	{% if comments|length %}
	{% for comment in comments %}
	{% set owner = comment.owner_key.get() %}
	<div class="comment">
		<a href="/user/{{ owner.key.urlsafe() }}"><img class="display-pic" src="{{ owner.pic }}">{{ owner.name }}</a> commented {{ comment.date.strftime('%c') }}
		<p>{{ comment.content }}</p>
	</div>
	{% endfor %}
	{% else %}
	<div id="no-comments" class="alert alert-info">
		no comments!
	</div>
	{% endif %}
</div>
<div class="top-pad-ten">
	<div id="alerts"></div>
	<form id="form" class="form-horizontal" role="form">
		<div class="form-group">
			<label for="comment" class="col-sm-2 control-label">comment</label>
			<div class="col-sm-10">
				<div class="input-group">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-italic"></span>
					</span>
					<textarea id="comment" class="form-control" rows="3" maxlength="500" placeholder="leave a comment"></textarea>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button id="submit" type="button" class="btn btn-default">post</button>
			</div>
		</div>
	</form>
</div>
<script>
	var listing_url = '{{ listing.key.urlsafe() }}';

	$('#submit').click( function(event) {
		clearAlerts();
		 $('#form :input').prop('disabled', true);

		var comment = $('#comment').val().trim();

		if (!comment) {
			$('#alerts').append(alertBootstrap('danger', 'comment cannot be empty.'));
		} else if (comment.length > 500) {
			$('#alerts').append(alertBootstrap('danger', 'comment exceeds 500 characters.'));
		} else {
			$.ajax({
				type: 'POST',
				url: '/listing/comment',
				data: {listing_url: listing_url, comment: comment},
				success: function(data, textStatus, jqXHR) {
					console.log(data);
					console.log(textStatus);
					console.log(jqXHR);

					$('#alerts').append(alertBootstrap('success', 'comment posted.'));
					alertTimeout(5000);

					$('#no-comments').fadeTo(500, 0).slideUp(500, function() {
						$(this).remove();
					});
					$('#comments').append(data);

					$('#form')[0].reset();
				},
				error: function(jqXHR, textStatus, errorThrown) {
					console.log(jqXHR);
					console.log(textStatus);
					console.log(errorThrown);
					var errors = eval(jqXHR.responseText);

					for (var i = 0; i < errors.length; i++) {
						$('#alerts').append(alertBootstrap('danger', errors[i]));
					}
				}
			});
		}

		$('#form :input').prop('disabled', false);
	});
</script>
<script>
	$('.game').popover({
		html: true,
		trigger: 'hover',
		placement: 'right',
	});
</script>
<script>
	$('#nav-list').addClass("active");
</script>
{% endblock %}