{% extends "base.html" %}
{% block content %}
<div class="page-header">
	<h1>listings
		<a class="btn btn-default" href="/listings/add">
			<span class="glyphicon glyphicon-plus"></span>
		</a>
		<a class="btn btn-default" href="/listings/search">
			<span class="glyphicon glyphicon-search"></span>
		</a>
	</h1>
</div>
<div id="alerts">
	{% if not listings|length %}
	<div class="alert alert-info">
		no listings!
	</div>
	{% endif %}
</div>
{% if listings|length %}
{% for listing, own_list, seek_list, person in listings %}
<div id="{{ listing.key.id() }}" class="row listing-blk">
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">offering</h3>
			</div>
			{% if own_list|length %}
			<div class="table-responsive">
				<table class="sortable table table-bordered table-striped">
					<thead>
						<tr>
							<th width = "80%" style="text-align: left">title</th>
							<th width = "20%">platform</th>
						</tr>
					</thead>
					<tbody>
						{% for game in own_list %}
						<tr id="{{ game.key.id() }}">
							<td width = "80%" style="text-align: left">{{ game.title }}</td>
							<td width = "20%">{{ game.platform }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
			<div class="panel-body">
				<div class="alert alert-info">
					no games here!
				</div>
			</div>
			{% endif %}
			{% if listing.topup > 0 %}
			<div class="panel-footer topup">
				<div class="input-group">
					<span class="input-group-addon">topup ${{ listing.topup }}</span>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">requesting</h3>
			</div>
			{% if seek_list|length %}
			<div class="table-responsive">
				<table class="sortable table table-bordered table-striped">
					<thead>
						<tr>
							<th width = "80%" style="text-align: left">title</th>
							<th width = "20%">platform</th>
						</tr>
					</thead>
					<tbody>
						{% for game in seek_list %}
						<tr id="{{ game.key.id() }}">
							<td width = "80%" style="text-align: left">{{ game.title }}</td>
							<td width = "20%">{{ game.platform }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
			<div class="panel-body">
				<div class="alert alert-info">
					no games here!
				</div>
			</div>
			{% endif %}
			{% if listing.topup < 0 %}
			<div class="panel-footer topup">
				<div class="input-group">
					<span class="input-group-addon">topup ${{ -listing.topup }}</span>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
	<div style="padding-left: 15px;">
		<h4>description</h4>
		<p>{{ listing.description }}</p>
	</div>
	<div class="listing-menu">
		<span style="margin-right: 10px">
			<a class="btn btn-default" href="/listing/{{ listing.key.urlsafe() }}">
				<span class="glyphicon glyphicon glyphicon-link"></span>
			</a>
		</span>
		<button type="button" class="btn btn-default delete" value="{{ listing.key.id() }}">
			<span class="glyphicon glyphicon-trash"></span>
		</button>
	</div>
</div>
{% endfor %}
{% endif %}
<script>
	$('.delete').click(function(event) {
		clearAlerts();

		var listing_id = $(this).attr("value");

		$.ajax({
			type: 'POST',
			url: '/listings/delete',
			data: {listing_id: listing_id},
			success: function(data, textStatus, jqXHR) {
				console.log(data);
				console.log(textStatus);
				console.log(jqXHR);

				$('#alerts').append('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>listing deleted.</div>');
				alertTimeout(5000);

				$('#' + listing_id).remove();
			},
			error: function(jqXHR, textStatus, errorThrown) {
				console.log(jqXHR);
				console.log(textStatus);
				console.log(errorThrown);
				var errors = eval(jqXHR.responseText);

				for (var i = 0; i < errors.length; i ++) {
					$('#alerts').append('<div class="alertdiv alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' + errors[i] + '</div>');
				}
			}
		});
	});
</script>
<script>
	$('#nav-list').addClass("active");
	$('#nav-list-my').addClass("active");
</script>
{% endblock %}