{% extends "base.html" %}
{% block content %}
<div id="search-div">
	<div class="page-header">
		<h1>search listings
			<a class="btn btn-default" href="/listings/add">
				<span class="glyphicon glyphicon-plus"></span>
			</a>
		</h1>
	</div>
	<div id="alerts">
		{% if not inventory.count() and not playlist.count() %}
		<div class="alert alert-info">
			no games in your inventory and playlist!
		</div>
		{% endif %}
	</div>
	{% if inventory.count() or playlist.count() %}
	<form id="form" class="form-horizontal" role="form">
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h1 class="panel-title">inventory</h1>
				</div>
				{% if inventory.count() %}
				<div class="table-responsive">
					<table id="inventory" class="sortable table table-bordered table-striped">
						<thead>
							<tr>
								<th class="sorttable_nosort" width="10%" style="text-align: left"></th>
								<th width="75%" style="text-align: left">title</th>
								<th width="15%">platform</th>
							</tr>
						</thead>
						<tbody>
							{% for game in inventory %}
							<tr id="{{ game.key.urlsafe() }}">
								<td width="10%"><input type="checkbox" class="own" value="{{ game.key.urlsafe() }}"></td>
								<td width="75%" style="text-align: left">{{ game.title }}</td>
								<td width="15%">{{ game.platform }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{% else %}
				<div class="panel-body">
					<div class="alert alert-info">
						no games in your inventory!
						<a class="btn btn-default btn-sm" href="/inventory/add">
							<span class="glyphicon glyphicon-plus"></span>
						</a>
					</div>
				</div>
				{% endif %}
				<div id="offer" class="panel-footer listing-topup" style="display: none">
					<div class="input-group">
						<span class="input-group-addon">topup &#60; $</span>
						<input id="offer-amt" type="number" class="form-control price" step="1" value="0" style="text-align: right">
						<span class="input-group-addon">.00</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h1 class="panel-title">playlist</h1>
				</div>
				{% if playlist.count() %}
				<div class="table-responsive">
					<table id="playlist" class="sortable table table-bordered table-striped">
						<thead>
							<tr>
								<th class="sorttable_nosort" width="10%" style="text-align: left"></th>
								<th width="75%" style="text-align: left">title</th>
								<th width="15%">platform</th>
							</tr>
						</thead>
						<tbody>
							{% for game in playlist %}
							<tr id="{{ game.key.urlsafe() }}">
								<td width="10%"><input type="checkbox" class="seek" value="{{ game.key.urlsafe() }}"></td>
								<td width="75%" style="text-align: left">{{ game.title }}</td>
								<td width="15%">{{ game.platform }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{% else %}
				<div class="panel-body">
					<div class="alert alert-info">
						no games in your playlist!
						<a class="btn btn-default btn-sm" href="/playlist/add">
							<span class="glyphicon glyphicon-plus"></span>
						</a>
					</div>
				</div>
				{% endif %}
				<div id="request" class="panel-footer listing-topup" style="display: none">
					<div class="input-group">
						<span class="input-group-addon">topup > $</span>
						<input id="request-amt" type="number" class="form-control price" step="1" value="0" style="text-align: right">
						<span class="input-group-addon">.00</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="pull-right">
		<button id="search" type="button" class="btn btn-default">
			<span class="glyphicon glyphicon-search"></span>
		</button>
	</div>
	</form>
	{% endif %}
</div>
<div id="search-results"></div>
<script>
	var num_own = 0;
	var num_seek = 0;

	$(':checkbox').change(function() {
		if ($(this).attr('class') == 'own') {
			this.checked ? num_own++ : num_own--;
		} else {
			this.checked ? num_seek++ : num_seek--;
		}

		if (num_own && num_seek) {
			$('#offer-amt').prop('disabled', false);
			$('#offer').slideDown('fast');

			$('#request-amt').prop('disabled', false);
			$('#request').slideDown('fast');
		} else if (num_own) {
			$('#offer-amt').prop('disabled', true);
			$('#offer-amt').val(0);
			$('#offer').slideUp('fast');

			$('#request-amt').prop('disabled', false);
			$('#request').slideDown('fast');
		} else if (num_seek) {
			$('#offer-amt').prop('disabled', false);
			$('#offer').slideDown('fast');

			$('#request-amt').prop('disabled', true);
			$('#request-amt').val(0);
			$('#request').slideUp('fast');
		} else {
			$('#offer-amt').prop('disabled', true);
			$('#offer-amt').val(0);
			$('#offer').slideUp('fast');

			$('#request-amt').prop('disabled', true);
			$('#request-amt').val(0);
			$('#request').slideUp('fast');
		}
	});

	$('#search').click(function() {
		clearAlerts();
		$('#form :input').prop('disabled', true);

		var listing = {
			own_urls: [],
			seek_urls: [],
			offer_amt: parseInt($('#offer-amt').val()),
			request_amt: parseInt($('#request-amt').val()),
		};

		$('.own').each(function () {
			if (this.checked) {
				listing.own_urls.push(this.value);
			}
		});

		$('.seek').each(function () {
			if (this.checked) {
				listing.seek_urls.push(this.value);
			}
		});

		if (listing.offer_amt == null || typeof(listing.offer_amt) != 'number') {
			$('#alerts').append('<div class="alertdiv alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>specify an offer topup amount.</div>');
			$('#form :input').prop('disabled', false);
		} else if (listing.request_amt == null || typeof(listing.request_amt) != 'number') {
			$('#alerts').append('<div class="alertdiv alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>specify a request topup amount.</div>');
			$('#form :input').prop('disabled', false);
		} else if (listing.offer_amt > 0 && listing.request_amt > 0) {
			$('#alerts').append('<div class="alertdiv alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>you cannot offer and request a cash amount at the same time.</div>');
			$('#form :input').prop('disabled', false);
		} else if (!listing.own_urls.length && !listing.seek_urls.length) {
			$('#alerts').append('<div class="alertdiv alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>add games to your search query.</div>');
			$('#form :input').prop('disabled', false);
		} else if ((listing.own_urls.length || listing.offer_amt > 0) && !listing.seek_urls.length && listing.request_amt == 0) {
			$('#alerts').append('<div class="alertdiv alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>add a price or games you would like to trade for.</div>');
			$('#form :input').prop('disabled', false);
		} else if (!listing.own_urls.length  && listing.offer_amt == 0 && (listing.seek_urls.length || listing.request_amt > 0)) {
			$('#alerts').append('<div class="alertdiv alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>add a price or games you would like to trade away.</div>');
			$('#form :input').prop('disabled', false);
		} else {
			$.ajax({
				type: 'POST',
				url: '/listings/search',
				data: JSON.stringify(listing),
				contentType: 'application/json',
				success: function(data, textStatus, jqXHR) {
					console.log(data);
					console.log(textStatus);
					console.log(jqXHR);

					$('#search-div').fadeTo(500, 0).slideUp(500, function() {
						$(this).remove();
					});
					$('#search-results').append(data);
				},
				error: function(jqXHR, textStatus, errorThrown) {
					console.log(jqXHR);
					console.log(textStatus);
					console.log(errorThrown);
					var errors = eval(jqXHR.responseText);

					for (var i = 0; i < errors.length; i ++) {
						$('#alerts').append('<div class="alertdiv alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' + errors[i] + '</div>');
					$('#form :input').prop('disabled', false);
					}
				}
			});
		}
	});

	$(document).ready(function(){
		// only allow numbers, backspaces, deletes, tabs to be typed in .price fields
		$(".price").keydown(function (event) {
			if (event.shiftKey) {
				event.preventDefault();
			}

			if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9) {
			}
			else {
				if (event.keyCode < 95) {
					if (event.keyCode < 48 || event.keyCode > 57) {
						event.preventDefault();
					}
				}
				else {
					if (event.keyCode < 96 || event.keyCode > 105) {
						event.preventDefault();
					}
				}
			}
		});
	});
</script>
<script>
	$('#nav-list').addClass("active");
	$('#nav-list-search').addClass("active");
</script>
{% endblock %}