{% extends "base.html" %}
{% block content %}
<div class="page-header">
	<h1>
		listings
		<a class="btn btn-default" href="/listings/add">
			<span class="glyphicon glyphicon-plus"></span>
		</a>
		<a class="btn btn-default" href="/listings/search">
			<span class="glyphicon glyphicon-search"></span>
		</a>
	</h1>
</div>
<div id="alerts">
	{% if not listings|length %}
	<div class="alert alert-info">
		no listings!
	</div>
	{% endif %}
</div>
{% for listing, own_games, seek_games in listings %}
<div id="{{ listing.key.urlsafe() }}" class="listing-block">
	<div class="row">
		<div class="col-md-12">
			<div class="listing-menu">
				<ul>
					<li><a class="btn btn-default" href="/listing/{{ listing.key.urlsafe() }}"><span class="glyphicon glyphicon glyphicon-link"></span></a></li>
					<li><button type="button" class="btn btn-default delete" value="{{ listing.key.urlsafe() }}"><span class="glyphicon glyphicon-trash"></span></button></li>
					<li><div class="listing-date">posted {{ listing.date.strftime('%c') }}</div></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">offering</h3>
				</div>
				{% if own_games|length %}
				<div class="table-responsive">
					<table class="sortable table table-bordered table-striped">
						<thead>
							<tr>
								<th width="80%" style="text-align: left">title</th>
								<th width="20%">platform</th>
							</tr>
						</thead>
						<tbody>
							{% for game in own_games %}
							<tr id="{{ game.key.urlsafe() }}">
								<td width="80%" style="text-align: left">{{ game.title }}</td>
								<td width="20%">{{ game.platform }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{% else %}
				<div class="panel-body">
					<div class="alert alert-info">
						no games here!
					</div>
				</div>
				{% endif %}
				{% if listing.topup > 0 %}
				<div class="panel-footer listing-topup">
					<div class="input-group">
						<span class="input-group-addon">topup ${{ listing.topup }}</span>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">requesting</h3>
				</div>
				{% if seek_games|length %}
				<div class="table-responsive">
					<table class="sortable table table-bordered table-striped">
						<thead>
							<tr>
								<th width="80%" style="text-align: left">title</th>
								<th width="20%">platform</th>
							</tr>
						</thead>
						<tbody>
							{% for game in seek_games %}
							<tr id="{{ game.key.urlsafe() }}">
								<td width="80%" style="text-align: left">{{ game.title }}</td>
								<td width="20%">{{ game.platform }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{% else %}
				<div class="panel-body">
					<div class="alert alert-info">
						no games here!
					</div>
				</div>
				{% endif %}
				{% if listing.topup < 0 %}
				<div class="panel-footer listing-topup">
					<div class="input-group">
						<span class="input-group-addon">topup ${{ -listing.topup }}</span>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
	<h4>description</h4>
	<p>{{ listing.description or 'none' }}</p>
</div>
{% endfor %}
<script>
	$('.delete').click(function(event) {
		clearAlerts();

		var listing_url = $(this).attr('value');

		$.ajax({
			type: 'POST',
			url: '/listings/delete',
			data: {listing_url: listing_url},
			success: function(data, textStatus, jqXHR) {
				console.log(data);
				console.log(textStatus);
				console.log(jqXHR);

				$('#alerts').append(alertBootstrap('success', 'listing deleted.'));
				alertTimeout(5000);

				$('#' + listing_url).remove();
			},
			error: function(jqXHR, textStatus, errorThrown) {
				console.log(jqXHR);
				console.log(textStatus);
				console.log(errorThrown);
				var errors = eval(jqXHR.responseText);

				for (var i = 0; i < errors.length; i++) {
					$('#alerts').append(alertBootstrap('danger', errors[i]));
				}
			}
		});
	});
</script>
<script>
	$('#nav-list').addClass("active");
	$('#nav-list-my').addClass("active");
</script>
{% endblock %}