{% extends "base.html" %}
{% block content %}
<div class="page-header">
	<h1>
		<img class="display_pic" src="{{ person.pic }}">
		{{ person.name }}'s listing
		<a class="btn btn-default" href="/user/{{ person.key.id() }}">
			<span class="glyphicon glyphicon-user"></span>
		</a>
		<div class="date">
			{{ listing.date.strftime('%d/%m/%Y') }}
		</div>
	</h1>
</div>
<div class="row listing-blk">
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">offering</h3>
			</div>
			{% if own_games|length %}
			<div class="table-responsive">
				<table class="sortable table table-bordered table-striped">
					<thead>
						<tr>
							<th width = "80%" style="text-align: left">title</th>
							<th width = "20%">platform</th>
						</tr>
					</thead>
					<tbody>
						{% for game in own_games %}
						<tr id="{{ game.key.id() }}">
							<td width = "80%" style="text-align: left">{{ game.title }}</td>
							<td width = "20%">{{ game.platform }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
			<div class="panel-body">
				<div class="alert alert-info">
					no games here!
				</div>
			</div>
			{% endif %}
			{% if listing.topup > 0 %}
			<div class="panel-footer topup">
				<div class="input-group">
					<span class="input-group-addon">topup ${{ listing.topup }}</span>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">requesting</h3>
			</div>
			{% if seek_games|length %}
			<div class="table-responsive">
				<table class="sortable table table-bordered table-striped">
					<thead>
						<tr>
							<th width = "80%" style="text-align: left">title</th>
							<th width = "20%">platform</th>
						</tr>
					</thead>
					<tbody>
						{% for game in seek_games %}
						<tr id="{{ game.key.id() }}">
							<td width = "80%" style="text-align: left">{{ game.title }}</td>
							<td width = "20%">{{ game.platform }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
			<div class="panel-body">
				<div class="alert alert-info">
					no games here!
				</div>
			</div>
			{% endif %}
			{% if listing.topup < 0 %}
			<div class="panel-footer topup">
				<div class="input-group">
					<span class="input-group-addon">topup ${{ -listing.topup }}</span>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</div>
<div class="comment-blk">
<script>
	$('#nav-list').addClass("active");
</script>
{% endblock %}