{% extends "base.html" %}
{% block content %}
<div class="page-header">
	<h1>add listing
		<a class="btn btn-default" href="/listings">back</a>
	</h1>
</div>
<div id="alerts">
	{% if not inventory.count() and not playlist.count() %}
	<div class="alert alert-info">
		no games in your inventory and playlist!
	</div>
	{% endif %}
</div>
{% if inventory.count() or playlist.count() %}
<form id="form">
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">inventory</h3>
			</div>
			{% if inventory.count() %}
			<div class="table-responsive">
				<table id="inventory" class="sortable table table-bordered table-striped">
					<thead>
						<tr>
							<th class="sorttable_nosort" width = "10%"></th>
							<th width = "75%" style="text-align: left">title</th>
							<th width = "15%">platform</th>
						</tr>
					</thead>
					<tbody>
						{% for game in inventory %}
						<tr id="{{ game.key.id() }}">
							<td width = "10%"> <input type="checkbox" class="own" value="{{ game.key.id() }}"></td>
							<td width = "75%" style="text-align: left">{{ game.title }}</td>
							<td width = "15%">{{ game.platform }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
			<div class="panel-body">
				<div class="alert alert-info">
					no games in your inventory!
					<a class="btn btn-default btn-sm" href="/inventory/add">
						<span class="glyphicon glyphicon-plus"></span>
					</a>
				</div>
			</div>
			{% endif %}
			<div id="offer" class="panel-footer topup" style="display: none">
				<div class="input-group">
					<span class="input-group-addon">topup $</span>
					<input id="offer-amt" type="number" class="form-control price" step="1" value="0" style="text-align: right">
					<span class="input-group-addon">.00</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">playlist</h3>
			</div>
			{% if playlist.count() %}
			<div class="table-responsive">
				<table id="playlist" class="sortable table table-bordered table-striped">
					<thead>
						<tr>
							<th class="sorttable_nosort" width = "10%"></th>
							<th width = "75%" style="text-align: left">title</th>
							<th width = "15%">platform</th>
						</tr>
					</thead>
					<tbody>
						{% for game in playlist %}
						<tr>
							<td width = "10%"> <input type="checkbox" class="seek" value="{{ game.key.id() }}"></td>
							<td width = "75%" style="text-align: left">{{ game.title }}</td>
							<td width = "15%">{{ game.platform }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
			<div class="panel-body">
				<div class="alert alert-info">
					no games in your playlist!
					<a class="btn btn-default btn-sm" href="/playlist/add">
						<span class="glyphicon glyphicon-plus"></span>
					</a>
				</div>
			</div>
			{% endif %}
			<div id="request" class="panel-footer topup" style="display: none">
				<div class="input-group">
					<span class="input-group-addon">topup $</span>
					<input id="request-amt" type="number" class="form-control price" step="1" value="0" style="text-align: right">
					<span class="input-group-addon">.00</span>
				</div>
			</div>
		</div>
	</div>
</div>
<form id="form" class="form-horizontal" role="form">
	<div class="form-group">
		<label for="description" class="col-sm-2 control-label">description</label>
		<div class="col-sm-10">
			<div class="input-group">
				<span class="input-group-addon">
					<i class="glyphicon glyphicon-italic"></i>
				</span>
				<textarea maxlength="500" class="form-control" id="description" rows="3" placeholder="Write the details of your listing here (max 500 chars)"></textarea>
			</div>
		</div>
	</div>
</form>
<div class="pull-right" style="margin-top:16px;">
	<button id="add" type="button" class="btn btn-default">add</button>
</div>
</form>
{% endif %}
<script>
	var num_own = 0;
	var num_seek = 0;

	$(':checkbox').change(function() {
		if ($(this).closest('table').attr('id') == 'inventory') {
			this.checked ? num_own++ : num_own--;
		} else {
			this.checked ? num_seek++ : num_seek--;
		}

		if (num_own && num_seek) {
			$('#offer-amt').prop('disabled', false);
			$('#offer').slideDown('fast');

			$('#request-amt').prop('disabled', false);
			$('#request').slideDown('fast');
		} else if (num_own) {
			$('#offer-amt').prop('disabled', true);
			$('#offer-amt').val(0);
			$('#offer').slideUp('fast');

			$('#request-amt').prop('disabled', false);
			$('#request').slideDown('fast');
		} else if (num_seek) {
			$('#offer-amt').prop('disabled', false);
			$('#offer').slideDown('fast');

			$('#request-amt').prop('disabled', true);
			$('#request-amt').val(0);
			$('#request').slideUp('fast');
		} else {
			$('#offer-amt').prop('disabled', true);
			$('#offer-amt').val(0);
			$('#offer').slideUp('fast');

			$('#request-amt').prop('disabled', true);
			$('#request-amt').val(0);
			$('#request').slideUp('fast');
		}
	});

	$('#add').click(function() {
		clearAlerts();

		var listing = {
			own_ids: [],
			seek_ids: [],
			offer_amt: parseInt($('#offer-amt').val()),
			request_amt: parseInt($('#request-amt').val()),
			description: $('#description').val().trim(),
		};

		console.log(listing.offer_amt);

		$('.own').each(function () {
			if (this.checked) {
				listing.own_ids.push(parseInt(this.value));
			}
		});

		$('.seek').each(function () {
			if (this.checked) {
				listing.seek_ids.push(parseInt(this.value));
			}
		});


		if (listing.offer_amt == null) {
			$('#alerts').append('<div class="alertdiv alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>offer a topup amount.</div>');
		} else if (listing.request_amt == null) {
			$('#alerts').append('<div class="alertdiv alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>request a topup amount.</div>');
		} else if (listing.offer_amt > 0 && listing.request_amt > 0) {
			$('#alerts').append('<div class="alertdiv alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>you cannot offer and request a cash amount at the same time.</div>');
		} else if (!listing.own_ids.length && !listing.seek_ids.length) {
			$('#alerts').append('<div class="alertdiv alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>add games to your listing.</div>');
		} else if (listing.own_ids.length && !listing.seek_ids.length && listing.request_amt == 0) {
			$('#alerts').append('<div class="alertdiv alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>add a price or games you would like to trade for.</div>');
		} else if (!listing.own_ids.length  && listing.seek_ids.length && listing.offer_amt == 0) {
			$('#alerts').append('<div class="alertdiv alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>add a price or games you would like to trade away.</div>');
		} else if (listing.description.length > 500) {
			$('#alerts').append('<div class="alertdiv alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>your description exceeds 500 characters.</div>');
		} else {
			$.ajax({
				type: 'POST',
				url: '/listings/add',
				data: JSON.stringify(listing),
				contentType: 'application/json',
				success: function(data, textStatus, jqXHR) {
					console.log(data);
					console.log(textStatus);
					console.log(jqXHR);

					$('#alerts').append('<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>listing added.</div>');
					alertTimeout(5000);

					$('#form')[0].reset()
				},
				error: function(jqXHR, textStatus, errorThrown) {
					console.log(jqXHR);
					console.log(textStatus);
					console.log(errorThrown);
					var errors = eval(jqXHR.responseText);

					for (var i = 0; i < errors.length; i ++) {
						$('#alerts').append('<div class="alertdiv alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' + errors[i] + '</div>');
					}
				}
			});
		}
	});

	$(document).ready(function(){
		// only allow numbers, backspaces, deletes, tabs to be typed in .price fields
		$(".price").keydown(function (event) {
			if (event.shiftKey) {
				event.preventDefault();
			}

			if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9) {
			}
			else {
				if (event.keyCode < 95) {
					if (event.keyCode < 48 || event.keyCode > 57) {
						event.preventDefault();
					}
				}
				else {
					if (event.keyCode < 96 || event.keyCode > 105) {
						event.preventDefault();
					}
				}
			}
		});
	});
</script>
<script>
	$('#nav-list').addClass("active");
	$('#nav-list-add').addClass("active");
</script>
{% endblock %}