{% extends "base.html" %}
{% block content %}
<div class="top-pad-one">
	<div id="inventory" style="float: left; width: 50%">
		<h4>inventory</h4><br>
	</div>
	<div id="playlist" style="float: right; width: 50%">
		<h4>playlist</h4><br>
	</div>
</div>
<div class="top-pad-one" style="float: right">
	<input type="button" value="add listing" onclick="addListing()">
</div>
<script>
	var inventory = {{ inventory|safe }};
	var playlist = {{ playlist|safe }};

	// create inventory table
	var invDiv = document.getElementById("inventory");
	if (inventory.length) {
		// initialise table
		var inv_table = document.createElement('table');
		inv_table.className = "table table-bordered table-striped";

		// initialise header
		var header = inv_table.createTHead();

		// initialise row
		var row = header.insertRow(0);

		//initialise cells
		var cell = row.insertCell(0);
		cell.style.width = "5%";
		cell = row.insertCell(1);
		cell.innerHTML = "title";
		cell.style.width = "80%";
		cell = row.insertCell(2);
		cell.innerHTML = "platform";
		cell.style.width = "15%";

		// initialise body
		var body = inv_table.createTBody();

		for (var i = 0; i < inventory.length; i++) {
			// initialise row
			var row = body.insertRow(i);

			// initialise cells
			cell = row.insertCell(0);
			cell.innerHTML = '<input id="' + i + '" type="checkbox">';
			cell.style.width = "5%";

			cell = row.insertCell(1);
			cell.innerHTML = inventory[i]['title'];
			cell.style.width = "80%";

			cell = row.insertCell(2);
			cell.innerHTML = inventory[i]['platform'];
			cell.style.width = "15%";
		}

		invDiv.appendChild(inv_table);
	} else {
		invDiv.innerHTML += "<center>no games in your inventory!</center>";
	}

	// create price form input
	invDiv.innerHTML += '<div align="left">price<br><input class="price" type="number" step="0.01" value="0.00" onclick="clearField(this);" required id="mytopup" /></div>'

	// create playlist table
	var plDiv = document.getElementById("playlist");
	if (playlist.length) {
		// initialise table
		var pl_table = document.createElement('table');
		pl_table.className = "table table-bordered table-striped";

		// initialise header
		var header = pl_table.createTHead();

		// initialise row
		var row = header.insertRow(0);

		//initialise cells
		var cell = row.insertCell(0);
		cell.style.width = "5%";
		cell = row.insertCell(1);
		cell.innerHTML = "title";
		cell.style.width = "80%";
		cell = row.insertCell(2);
		cell.innerHTML = "platform";
		cell.style.width = "15%";

		// initialise body
		var body = pl_table.createTBody();

		for (var i = 0; i < playlist.length; i++) {
			// initialise row
			var row = body.insertRow(i);

			// initialise cells
			cell = row.insertCell(0);
			cell.innerHTML = '<input id="' + i + '" type="checkbox">';
			cell.style.width = "5%";

			cell = row.insertCell(1);
			cell.innerHTML = playlist[i]['title'];
			cell.style.width = "80%";

			cell = row.insertCell(2);
			cell.innerHTML = playlist[i]['platform'];
			cell.style.width = "15%";
		}

		plDiv.appendChild(pl_table);
	} else {
		plDiv.innerHTML += "<center>no games in your playlist!</center>";
	}

	// create price form input
	plDiv.innerHTML += '<div align="right">price<br><input class="price" type="number" step="0.01" value="0.00" onclick="clearField(this);" required id="yourtopup" /></div>'

	function addListing() {
		var listing = {
			own: [],
			seek: [],
		};

		mytopup = document.getElementById("mytopup").value;
		yourtopup = document.getElementById("yourtopup").value;

		try {
			if (mytopup) {
				listing.mytopup = currencyFormat(mytopup);
			} else {
				throw "invalid topup offered."
			}

			if (yourtopup) {
				listing.yourtopup = currencyFormat(yourtopup);
			} else {
				throw "invalid topup requested."
			}

			console.log(listing);

		} catch (error) {
			alert(error);
		}
	}

	function currencyFormat(input) {
		console.log(input);
		tokens = input.split(".");
		output = tokens[0];
		console.log(tokens);

		if (tokens[1]) {
			if (tokens[1].length > 2) {
				throw "price should contain up to 2 decimal places."
			}

			output += ".";
			if (tokens[1].length == 1) {
				output += tokens[1].substring(0,1);
			} else {
				output += tokens[1].substring(0,2);
			}
		}
		return output;
	}

	function clearField(field) {
		if (field.value == "0.00") {
			field.value = "";
		}
	}

	$(document).ready(function(){
		// only allow numbers, decimal points, periods, backspaces, deletes to be typed in .price fields
		$(".price").keydown(function (event) {
			if (event.shiftKey) {
				event.preventDefault();
			}

			if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 110 || event.keyCode == 190) {
			}
			else {
				if (event.keyCode < 95) {
					if (event.keyCode < 48 || event.keyCode > 57) {
						event.preventDefault();
					}
				}
				else {
					if (event.keyCode < 96 || event.keyCode > 105) {
						event.preventDefault();
					}
				}
			}
		});
	});
</script>
{% endblock %}