<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>maphack | search. trade. play.</title>
  <style>
    html, body, #map-canvas {
      height: 100%;
      margin: 0px;
      padding: 0px
    }
    #panel {
      position: absolute;
      top: 5px;
      left: 50%;
      margin-left: -180px;
      z-index: 5;
      background-color: #fff;
      padding: 5px;
      border: 1px solid #999;
    }
  </style>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>
    var map;
    var name = '{{ name }}';
    var location_id = {{ location_id }};
    var latitude = {{ latitude }};
    var longitude = {{ longitude }};

    function initialize() {
      document.getElementById('name').value = name;

      var latlng = new google.maps.LatLng(latitude, longitude);
      var mapOptions = {
        zoom: 17,
        center: latlng
      }
      map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
      var marker = new google.maps.Marker({
        position: latlng,
        map: map,
      });
    }

    function changeName() {
      var name = $('#name').val();

      if (!name || name.trim() == '') {
        alert('please enter a valid name.');
      } else {
        $.ajax({
          type: 'POST',
          url: '/locations/view',
          data: {name: name, location_id: {{ location_id }}},
          success: function(){
            alert('name changed.');
          },
          error: function(jqXHR, textStatus, errorThrown) {
            alert(jqXHR.responseText);
            console.log(jqXHR);
            console.log(textStatus);
            console.log(errorThrown);

            window.location.href = '/locations';
          }
        });
      }
    }

    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
</head>
<body>
  <div id="panel">
    <input id="name" type="textbox" placeholder="new name">
    <input type="button" value="change name" onclick="changeName()"><br>
    <form action="/locations/delete" method="post">
      <input type="hidden" name="location_id" value="{{ location_id }}">
      <input type="submit" value="delete">
    </form>
    <form action="/locations">
      <input type="submit" value="go back">
    </form>
  </div>
  <div id="map-canvas"></div>
</body>
</html>