<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>maphack | search. trade. play.</title>
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/stylesheets/map.css" rel="stylesheet">
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/scripts/alerts.js"></script>
  </head>
<body>
  <div id="panel" class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">locations</h3>
    </div>
    <div class="panel-body">
      <div style="vertical-align: middle">
        <span class="glyphicon glyphicon-map-marker"></span>
        <span >{{ address }}</span>
      </div>
      <div class="input-group">
        <input id="name" type="textbox" class="form-control" placeholder="custom name" value="{{ name }}">
        <span class="input-group-btn">
          <button id="change" type="button" class="btn btn-default">change name</button>
        </span>
      </div>
      <div id="alerts"></div>
      <button id="delete" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
      <a class="btn btn-default" href="/locations">back</a>
    </div>
  </div>
  <div id="map-canvas"></div>
  <script>
    var map;
    var location_id = parseInt({{ location_id }});
    var name = '{{ name }}';
    var latitude = {{ geopt.lat }};
    var longitude = {{ geopt.lon }};
    
    function initialize() {
      $('#name').val(name);
      var latlng = new google.maps.LatLng(latitude, longitude);
      var mapOptions = {
        zoom: 15,
        center: latlng
      }
      map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
      var marker = new google.maps.Marker({
        position: latlng,
        map: map,
      });
    }

    $('#change').click(function(event) {
      clearAlerts();

      var new_name = $('#name').val();

      if (!new_name.trim()) {
        $('#alerts').append('<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>name cannot be empty.</div>');
      } else if (new_name == name) {
        $('#alerts').append('<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>changed name is the same.</div>');
      } else {
        $.ajax({
            type: 'POST',
            url: '/locations/view',
            data: {name: name, location_id: location_id},
            success: function(data, textStatus, jqXHR) {
              console.log(data);
              console.log(textStatus);
              console.log(jqXHR);

              $('#alerts').append('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>location name changed.</div>');
              alertTimeout(5000);
            },
            error: function(jqXHR, textStatus, errorThrown) {
              console.log(jqXHR);
              console.log(textStatus);
              console.log(errorThrown);
              var errors = eval(jqXHR.responseText);

              for (var i = 0; i < errors.length; i ++) {
                $('#alerts').append('<div class="alertdiv alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' + errors[i] + '</div>');
              }
            }
          });
      }
    });

    $('#delete').click(function(event) {
        clearAlerts();

        $.ajax({
          type: 'POST',
          url: '/locations/delete',
          data: {location_id: location_id},
          success: function(data, textStatus, jqXHR) {
            console.log(data);
            console.log(textStatus);
            console.log(jqXHR);

            window.location.href = '/locations';
          },
          error: function(jqXHR, textStatus, errorThrown) {
            console.log(jqXHR);
            console.log(textStatus);
            console.log(errorThrown);
            var errors = eval(jqXHR.responseText);

            for (var i = 0; i < errors.length; i ++) {
              $('#alerts').append('<div class="alertdiv alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' + errors[i] + '</div>');
            }
          }
        });
      });

    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
</body>
</html>