<!-- Locations page -->
{% extends "base.html" %}
{% block content %}
<div class="top-pad-one">
	{% if locations.count() %}
	<table class="sortable table table-bordered table-striped">
		<thead>
			<tr>
				<th width = "20%">name</th>
				<th width = "50%">address</th>
				<th width = "10%">latitude</th>
				<th width = "10%">longitude</th>
				<th width = "10%">delete</th>
			</tr>
		</thead>
		<tbody>
			{% for location in locations %}
			<tr>
				<td width = "20%"><a href="/locations/view?name={{ location.name }}&location_id={{ location.key.id() }}&latitude={{ location.geopt.lat }}&longitude={{ location.geopt.lon }}">{{ location.name }}</a></td>
				<td width = "50%">{{ location.address }}</td>
				<td width = "10%">{{ location.geopt.lat }}</td>
				<td width = "10%">{{ location.geopt.lon }}</td>
				<td width = "10%">
					<form action="/locations/delete" method="post">
						<input type="hidden" name="location_id" value="{{ location.key.id() }}">
						<input type="submit" value="delete">
					</form>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<p>no locations added! add the locations you want to trade at.</p>
	{% endif %}
</div>
<div class="top-pad-one">
	<form action="/locations/add" method="get">
		<button type="submit">add location</button>
	</form>
</div>
{% endblock %}