<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>maphack | search. trade. play.</title>
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/stylesheets/map.css" rel="stylesheet">
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/scripts/alerts.js"></script>
  </head>
<body>
  <div id="panel" class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">locations</h3>
    </div>
    <div class="panel-body">
      <div class="input-group">
        <input id="address" type="textbox" class="form-control" placeholder="address">
        <span class="input-group-btn">
          <button id="locate" type="button" class="btn btn-default">locate</button>
        </span>
      </div>
      <div class="input-group">
        <input id="name" type="textbox" class="form-control" placeholder="custom name">
        <span class="input-group-btn">
          <button id="add" type="button" class="btn btn-default">add location</button>
        </span>
      </div>
      <div id="alerts"></div>
      <button id="show" type="button" class="btn btn-default" style="display: none">show my locations</button>
      <button id="hide" type="button" class="btn btn-default">hide my locations</button>
      <a class="btn btn-default" href="/locations">back</a>
    </div>
  </div>
  <div id="map-canvas"></div>
  <script>
    var country = '{{ country }}';
    var locations = {{ locations|safe }};

    var map;
    var geocoder;
    var location_markers = [];
    var marker;

    function initialize() {
      map = new google.maps.Map(document.getElementById('map-canvas'));
      geocoder = new google.maps.Geocoder();

      if (locations.length) {
        var bounds = new google.maps.LatLngBounds();

        for (var i = 0; i < locations.length; i++) {
          var latlng = new google.maps.LatLng(locations[i].geopt.lat, locations[i].geopt.lon);
          bounds.extend(latlng);

          var location_marker = new google.maps.Marker({
            position: latlng,
            map: map,
            icon: "/images/red_MarkerU.png",
            title: locations[i].name,
          });
          location_markers.push(location_marker);
        }

        map.fitBounds(bounds);
        map.panToBounds(bounds);
      } else {
        geocoder.geocode({'componentRestrictions': {country: country}}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            map.setCenter(results[0].geometry.location);
            map.fitBounds(results[0].geometry.viewport);
          } else {
            $('#alerts').append('<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>geocode was not successful for the following reason: ' + status + '</div>');
          }
        });
      }

      google.maps.event.addListener(map, 'click', function(event) {
        placeMarker(event.latLng);
      });
    }

    function placeMarker(latlng) {
      if (marker) {
        marker.setPosition(latlng);
      } else {
        marker = new google.maps.Marker({
          position: latlng,
          map: map,
          draggable: true,
        });
      }

      map.setCenter(latlng);
    }

    function setAllMap(map) {
      for (var i = 0; i < location_markers.length; i++) {
        location_markers[i].setMap(map);
      }
    }

    $('#locate').click(function(event) {
      clearAlerts();

      var address = $('#address').val();
      geocoder.geocode({'address': address, 'componentRestrictions': {country: country}}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          placeMarker(results[0].geometry.location);
          map.fitBounds(results[0].geometry.viewport);

          if (results[0].partial_match) {
            $('#alerts').append('<div class="alert alert-info alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>location may be inaccurate. drag the marker to the correct location before adding it.</div>');
          }
        } else {
          $('#alerts').append('<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>geocode was not successful for the following reason: ' + status + '</div>');
        }
      });
    });

    $('#add').click(function(event) {
      clearAlerts();

      var name = $('#name').val();
      if (!name.trim()) {
        $('#alerts').append('<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>please enter a valid name.</div>');
      } else if (!marker) {
        $('#alerts').append('<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>please set a location.</div>');
      } else {
        geocoder.geocode({'latLng': marker.getPosition()}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            var address = results[0].formatted_address;

            $.ajax({
              type: 'POST',
              url: '/locations/add',
              data: {name: name, address: address, latitude: marker.getPosition().lat(), longitude: marker.getPosition().lng()},
              success: function(data, textStatus, jqXHR) {
                console.log(data);
                console.log(textStatus);
                console.log(jqXHR);

                $('#alerts').append('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>location added.</div>');
                alertTimeout(5000);

                var location_marker = new google.maps.Marker({
                  position: marker.getPosition(),
                  map: map,
                  icon: "/images/red_MarkerU.png",
                });
                location_markers.push(location_marker);

                marker.setMap(null);
                marker = null;
              },
              error: function(jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
                $('#alerts').append('<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>an error has occurred.</div>');
                }
            });
          } else {
            $('#alerts').append('<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>reverse geocode was not successful for the following reason: ' + status + '</div>');
          }
        });
      }
    });

    $('#show').click(function(event) {
      setAllMap(map);
      $('#show').hide();
      $('#hide').show();
    });

    $('#hide').click(function(event) {
      setAllMap(null);
      $('#show').show();
      $('#hide').hide();
    });

    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
</body>
</html>