<!-- Locations page for logged in maphack user -->
{% extends "base.html" %}
{% block content %}
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th width = "30%">Name</th>
			<th width = "40%">Address</th>
			<th width = "10%">Latitude</th>
			<th width = "10%">Longitude</th>
			<th width = "10%">Delete</th>
		</tr>
	</thead>
	<tbody>
		{% for location in locations %}
			<tr>
				<td width = "30%"><a href="#" onClick="MyWindow=window.open('https://www.google.com/maps/@{{ location.point.lat }},{{ location.point.lon }},16z','MyWindow',width=600,height=300); return false;">{{ location.name }}</a></td>
				<td width = "40%">{{ location.address }}</td>
				<td width = "10%">{{ location.latitude }}</td>
				<td width = "10%">{{ location.longitude }}</td>
				<td width = "10%">
					<form action="/locations/delete" method="post">
					<input type="hidden" name="location_id" value="{{ location.location_id }}">
					<input type="submit" value="Delete">
					</form>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<br>
<a href="/locations/map">Add location...</a>
{% endblock %}