<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>maphack | search. trade. play.</title>
  <style>
    html, body, #map-canvas {
      height: 100%;
      margin: 0px;
      padding: 0px
    }
    #panel {
      position: absolute;
      top: 5px;
      left: 50%;
      margin-left: -160px;
      z-index: 5;
      background-color: #fff;
      padding: 5px;
      border: 1px solid #999;
    }
  </style>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <script>
    var currentLat = window.opener.locationObject.lat;	
    var currentLon = window.opener.locationObject.lon; 
    var currentLocId = window.opener.locationObject.locId;

    var geocoder;
    var map;
    var latitude;
    var longitude;
    var marker;

    function initialize() {
      geocoder = new google.maps.Geocoder();
      var latlng = new google.maps.LatLng(parseFloat(currentLat), parseFloat(currentLon));
      var mapOptions = {
        zoom: 17,
        center: latlng
      }

      map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
      var marker = new google.maps.Marker({
        position: map.getCenter(),
        map: map,
      });

      document.getElementById("locdelete").value = currentLocId;      
    }

    function nameChange() {
      var newName = $('#namechange').val();

      if (!newName || newName.trim() == "") {
        alert("Please enter a valid new name.");
      } else {
        $.ajax({
          type: "POST",
          url: '/locations/view',
          data: {name: newName, id: currentLocId},
          success: function(){
            alert("Name changed.");
          }
        });
      }
    }

    google.maps.event.addDomListener(window, 'load', initialize);

  </script>
</head>
<body>
  <div id="panel">            
    <input id="namechange" type="textbox" placeholder="new name">
    <input type="button" value="change name" onclick="nameChange()"><br>
    <form action="/locations/delete" method="post">
      <input id="locdelete" type="hidden" name="location_id"/>
      <input type="submit" value="delete location">
    </form>
    <button type="button" onclick="window.open('', '_self', ''); window.close();">close window</button>
  </div>
  <div id="map-canvas"></div>
</body>
</html>