<!-- Playlist page -->
{% extends "base.html" %}
{% block content %}
<form action="/playlist" method="post">
	<fieldset>
		<div class="row-fluid">
			Add game to playlist:<br>
			Title: <input class="input-xlarge" type="text" name="title" required><br>
			Platform: <input class="input-xlarge" type="text" name="platform" required><br>
			Image url: <input class="input-xlarge" type="text" name="img_url"><br>
		</div>
		<div class="row-fluid">
			<div class="span6">
				Game description: <textarea class="input-block-level" name="description" rows="3"> </textarea><br>
				<input type="submit" value="add">
			</div>
		</div>
	</fieldset>
</form>

<h4>Playlist</h4>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th width = "20%">Title</th>
			<th width = "10%">Platform</th>
			<th width = "20%">Description</th>
			<th width = "20%">Image</th>
			<th width = "10%">Date</th>
			<th width = "10%">Search</th>
			<th width = "10%">Delete</th>
		</tr>
	</thead>
	<tbody>
		{% for game in games %}
		<tr>
			<td width = "20%">{{ game.title }}</td>
			<td width = "10%">{{ game.platform }}</td>
			<td width = "20%">{{ game.description }} </td>
			<td width = "20%">
				{% if game.img_url != "" %}
				<img class="game_img" src="{{ game.img_url }}">
				{% endif %}
			</td>
			<td width = "10%">
				{{ game.date.strftime('%d/%m/%Y') }}<br>
			</td>
			<td width = "10%">
				<form action="/search/results" method="post">
					<input type="hidden" name="title" value="{{ game.title }}">
					<input type="hidden" name="platform" value="{{ game.platform }}">
					<input type="hidden" name="query_type" value="have">
					<input type="submit" value="Search">
				</form>
			</td>
			<td width = "10%">
				<form action="/playlist/delete" method="post">
					<input type="hidden" name="game_id" value="{{ game.key.id() }}">
					<input type="submit" value="Delete">
				</form>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}