<!-- Profile edit page -->
{% extends "base.html" %}
{% block content %}
<div class="row-fluid">
	<div class="span6">
		<img class="splashpic" src="../images/splashpic.png">
	</div>
	<div class="span6">
		<div class="top-pad-one">
			<form action="/profile/edit" method="post">
				<fieldset>
					Display name:<br>
					<input class="input-xlarge" type="text" name="display_name" value="{{ display_name }}" required>

					<!-- Error message -->
					{% if error != "" %}
					<div class="error">{{ error }}</div><br>
					{% endif %}

					Profile picture:<br>
					<input class="input-xlarge" type="text" name="img_url" placeholder="url"><br>
					More about yourself:<br>
					<textarea class="input-block-level" name="bio" rows="5" placeholder="bio">{{ bio }}</textarea><br>
					<button type="submit">Update</button>
				</fieldset>
			</form>
		</div>
	</div>
</div>
{% endblock %}