{% extends "base.html" %}
{% block content %}
<div class="text-center">
	<div class="page-header">
		<h1>profile
			<a class="btn btn-default" href="/profile/edit">
				<span class="glyphicon glyphicon-edit"></span>
			</a>
		</h1>
	</div>	
	<h4>contact</h4>
	<p>{{ user.contact }}</p>
	<h4>country code</h4>
	<p>{{ user.country }}</p>
	<h4>about me</h4>
	<p>{{ user.bio or 'none' }}</p>
</div>
<script>
	$('#nav-dash').addClass("active");
	$('#nav-dash-profile').addClass("active");
</script>
{% endblock %}