<!-- Setup page	-->
{% extends "base.html" %}
{% block content %}
<div class="row-fluid">
	<div class="span6">
		<img class="splashpic" src="../images/splashpic.png">
	</div>
	<div class="span6">
		<div class="top-pad-one">
			<p>please set up your profile before continuing to use maphack.</p>
			<!-- Error message -->
			{% if error %}
			<div class="error"><p>{{ error }}</p></div>
			{% endif %}
			<p>
				<form action="/setup" method="post">
					<fieldset>
						display name (required)<br>
						<input class="input-xlarge" type="text" name="name" value="{{ input_name }}"required><br>
						profile picture<br>
						<input class="input-xlarge" type="text" name="pic" placeholder="url" value="{{ input_pic }}"><br>
						<button type="submit">submit</button>
					</fieldset>
				</form>
			</p>
		</div>
	</div>
</div>
{% endblock %}