{% extends "base.html" %}
{% block content %}
<div class="page-header">
	<h1>
		<img class="display-pic-lg" src="{{ person.pic }}"> {{ person.name }}
		<a class="btn btn-default" href="/user/locations/{{ person.key.urlsafe() }}">
			<span class="glyphicon glyphicon-map-marker"></span> ~{{ '%0.2f' % nearest_distance }} k.m. away
		</a>
		{% if person.key in user.friend_keys %}
		<span id="friend-div" style="display: none">
		{% else %}
		<span id="friend-div">
		{% endif %}
			<button id="friend" type="button" class="btn btn-default" value="{{ person.key.urlsafe() }}">
				<span class="glyphicon glyphicon-heart"></span> friend
			</button>
		</span>
		{% if person.key not in user.friend_keys %}
		<span id="unfriend-div" style="display: none">
		{% else %}
		<span id="unfriend-div">
		{% endif %}
			<button id="unfriend" type="button" class="btn btn-default" value="{{ person.key.urlsafe() }}">
				<span class="glyphicon glyphicon-remove"></span> unfriend
			</button>
		</span>
		<div class="pull-right" style="font-size:18px; padding-top: 15px;">contact: {{ person.contact }}</div>
	</h1>
</div>
<div id="alerts"></div>
<div class="game-comparison">
	<ul class="nav nav-tabs nav-justified" role="tablist">
		<li class="active"><a href="#my_diff" role="tab" data-toggle="tab">your other games</a></li>
		<li><a href="#my_match" role="tab" data-toggle="tab">your games that {{ person.name }} wants</a></li>
		<li><a href="#your_match" role="tab" data-toggle="tab">{{ person.name }}'s games that you want</a></li>
		<li><a href="#your_diff" role="tab" data-toggle="tab">{{ person.name }}'s other games</a></li>
	</ul>
	<div class="tab-content">
		<div id="my_diff" class="tab-pane fade in active">
			<br>
			{% if my_diff %}
			<table class="sortable table table-bordered table-striped">
				<thead>
					<tr>
						<th width="20%">title</th>
						<th width="10%">platform</th>
						<th width="50%">description</th>
						<th class="sorttable_nosort" width="20%">image</th>
					</tr>
				</thead>
				<tbody>
					{% for game in my_diff %}
					<tr>
						<td width="20%">{{ game.title }}</td>
						<td width="10%">{{ game.platform }}</td>
						<td width="50%">{{ game.description }}</td>
						<td width="20%"><img src="{{ game.pic }}"></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
			<div class="alert alert-info">
				you have no other games!
			</div>
			{% endif %}
		</div>
		<div id="my_match" class="tab-pane fade">
			<br>
			{% if my_match %}
			<table class="sortable table table-bordered table-striped">
				<thead>
					<tr>
						<th width="20%">title</th>
						<th width="10%">platform</th>
						<th width="50%">description</th>
						<th class="sorttable_nosort" width="20%">image</th>
					</tr>
				</thead>
				<tbody>
					{% for game in my_match %}
					<tr>
						<td width="20%">{{ game.title }}</td>
						<td width="10%">{{ game.platform }}</td>
						<td width="50%">{{ game.description }}</td>
						<td width="20%"><img src="{{ game.pic }}"></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
			<div class="alert alert-info">
				you have no games {{ person.name }} wants!
			</div>
			{% endif %}
		</div>
		<div id="your_match" class="tab-pane fade">
			<br>
			{% if your_match %}
			<table class="sortable table table-bordered table-striped">
				<thead>
					<tr>
						<th width="20%">title</th>
						<th width="10%">platform</th>
						<th width="50%">description</th>
						<th class="sorttable_nosort" width="20%">image</th>
					</tr>
				</thead>
				<tbody>
					{% for game in your_match %}
					<tr>
						<td width="20%">{{ game.title }}</td>
						<td width="10%">{{ game.platform }}</td>
						<td width="50%">{{ game.description }}</td>
						<td width="20%"><img src="{{ game.pic }}"></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
			<div class="alert alert-info">
				{{ person.name }} has no games you want!
			</div>
			{% endif %}
		</div>
		<div id="your_diff" class="tab-pane fade">
			<br>
			{% if your_diff %}
			<table class="sortable table table-bordered table-striped">
				<thead>
					<tr>
						<th width="20%">title</th>
						<th width="10%">platform</th>
						<th width="50%">description</th>
						<th class="sorttable_nosort" width="20%">image</th>
					</tr>
				</thead>
				<tbody>
					{% for game in your_diff %}
					<tr>
						<td width="20%">{{ game.title }}</td>
						<td width="10%">{{ game.platform }}</td>
						<td width="50%">{{ game.description }}</td>
						<td width="20%"><img src="{{ game.pic }}"></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
			<div class="alert alert-info">
				{{ person.name }} has no other games!
			</div>
			{% endif %}
		</div>	
	</div>
</div>
<div class="listings">
	<h3>listings</h3>
	<div id="alerts">
		{% if not listings|length %}
		<div class="alert alert-info">
			no listings!
		</div>
		{% endif %}
	</div>
	{% for listing, own_games, seek_games in listings %}
	<div class="listing-block">
		<div class="row">
			<div class="col-md-12">
				<div class="listing-menu">
					<ul>
						<li><a class="btn btn-default" href="/listing/{{ listing.key.urlsafe() }}"><span class="glyphicon glyphicon glyphicon-link"></span></a></li>
						<li><div class="listing-date">posted {{ listing.date.strftime('%c') }}</div></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">offering</h3>
					</div>
					{% if own_games|length %}
					<div class="table-responsive">
						<table class="sortable table table-bordered table-striped">
							<thead>
								<tr>
									<th width="70%" style="text-align: left">title</th>
									<th width="20%">platform</th>
									<th width="10%">picture</th>
								</tr>
							</thead>
							<tbody>
								{% for game in own_games %}
								<tr id="{{ game.key.urlsafe() }}" class="game" title="{{ game.title }}" data-content="<p>description: {{ game.description or 'none' }}</p>">
									<td width="70%" style="text-align: left">{{ game.title }}</td>
									<td width="20%">{{ game.platform }}</td>
									<td width="10%">
										{% if game.pic %}
										<a class="btn btn-default" href="{{ game.pic }}" target="_blank">
											<span class="glyphicon glyphicon-picture"></span>
										</a>
										{% else %}
										n/a
										{% endif %}
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					{% else %}
					<div class="panel-body">
						<div class="alert alert-info">
							no games here!
						</div>
					</div>
					{% endif %}
					{% if listing.topup > 0 %}
					<div class="panel-footer listing-topup">
						<div class="input-group">
							<span class="input-group-addon">topup ${{ listing.topup }}</span>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">requesting</h3>
					</div>
					{% if seek_games|length %}
					<div class="table-responsive">
						<table class="sortable table table-bordered table-striped">
							<thead>
								<tr>
									<th width="70%" style="text-align: left">title</th>
									<th width="20%">platform</th>
									<th width="10%">picture</th>
								</tr>
							</thead>
							<tbody>
								{% for game in seek_games %}
								<tr id="{{ game.key.urlsafe() }}" class="game" title="{{ game.title }}" data-content="<p>description: {{ game.description or 'none' }}</p>">
									<td width="70%" style="text-align: left">{{ game.title }}</td>
									<td width="20%">{{ game.platform }}</td>
									<td width="10%">
										{% if game.pic %}
										<a class="btn btn-default" href="{{ game.pic }}" target="_blank">
											<span class="glyphicon glyphicon-picture"></span>
										</a>
										{% else %}
										n/a
										{% endif %}
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					{% else %}
					<div class="panel-body">
						<div class="alert alert-info">
							no games here!
						</div>
					</div>
					{% endif %}
					{% if listing.topup < 0 %}
					<div class="panel-footer listing-topup">
						<div class="input-group">
							<span class="input-group-addon">topup ${{ -listing.topup }}</span>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
		<h4>description</h4>
		<p>{{ listing.description or 'none' }}</p>
	</div>
	{% endfor %}
</div>
<script>
	$('#friend').click(function(event) {
		clearAlerts();

		var person_url = $(this).attr('value');

		$.ajax({
			type: 'POST',
			url: '/friends/add',
			data: {person_url: person_url},
			success: function(data, textStatus, jqXHR) {
				console.log(data);
				console.log(textStatus);
				console.log(jqXHR);

				$('#alerts').append(alertBootstrap('success', 'friend added.'));
				alertTimeout(5000);

				$('#friend-div').hide();
				$('#unfriend-div').show();
			},
			error: function(jqXHR, textStatus, errorThrown) {
				console.log(jqXHR);
				console.log(textStatus);
				console.log(errorThrown);

				var error = jqXHR.responseText;
				$('#alerts').append(alertBootstrap('danger', error));
			}
		});
	});

		$('#unfriend').click(function(event) {
		clearAlerts();

		var person_url = $(this).attr('value');

		$.ajax({
			type: 'POST',
			url: '/friends/delete',
			data: {person_url: person_url},
			success: function(data, textStatus, jqXHR) {
				console.log(data);
				console.log(textStatus);
				console.log(jqXHR);

				$('#alerts').append(alertBootstrap('success', 'friend removed.'));
				alertTimeout(5000);

				$('#friend-div').show();
				$('#unfriend-div').hide();
			},
			error: function(jqXHR, textStatus, errorThrown) {
				console.log(jqXHR);
				console.log(textStatus);
				console.log(errorThrown);
				var errors = eval(jqXHR.responseText);

				for (var i = 0; i < errors.length; i ++) {
					$('#alerts').append(alertBootstrap('danger', errors[i]));
				}
			}
		});
	});
</script>
{% endblock %}