<!-- User page -->
{% extends "base.html" %}
{% block content %}
<p>
	<img class="profile_pic" src="{{ img_url }}"> {{ person_name }}
</p>
<p>
	{% if not me_locations.count() %}
	Unable to calculate nearest location because you have not added any locations!
	{% elif not you_locations.count() %}
	Unable to calculate nearest location because {{ person_name }} has not added any locations!
	{% else %}
	{{ person_name }} can trade ~{{ '%0.2f' % nearest_dist }} k.m. away.
	{% endif %}
	<br>
	<a href="../user/{{ person_id }}/locations" target="_blank">View this user's trading locations</a>
</p>
<div class="top-pad-one">
	<h4>Matching inventories and playlists:</h4><br>
	{% if me_diff %}
	games you own that are not in {{ person_name }}'s playlist<br>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th width = "20%">title</th>
				<th width = "10%">platform</th>
				<th width = "50%">description</th>
				<th width = "20%">image</th>
			</tr>
		</thead>
		<tbody>
			{% for game in me_diff %}
			<tr>
				<td width = "20%">{{ game[0] }}</td>
				<td width = "10%">{{ game[1] }}</td>
				<td width = "50%">{{ game[2] }}</td>
				<td width = "20%">{{ game[3] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	you have no other games!
	{% endif %}
</div>
<div class="top-pad-one">
	{% if me_match %}
	games you own that are in {{ person_name }}'s playlist<br>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th width = "20%">title</th>
				<th width = "10%">platform</th>
				<th width = "50%">description</th>
				<th width = "20%">image</th>
			</tr>
		</thead>
		<tbody>
			{% for game in me_match %}
			<tr>
				<td width = "20%">{{ game[0] }}</td>
				<td width = "10%">{{ game[1] }}</td>
				<td width = "50%">{{ game[2] }}</td>
				<td width = "20%">{{ game[3] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	you have no games {{ person_name }} wants!
	{% endif %}
</div>
<div class="top-pad-one">
	{% if you_match %}
	games {{ person_name }} owns that are in your playlist<br>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th width = "20%">title</th>
				<th width = "10%">platform</th>
				<th width = "50%">description</th>
				<th width = "20%">image</th>
			</tr>
		</thead>
		<tbody>
			{% for game in you_match %}
			<tr>
				<td width = "20%">{{ game[0] }}</td>
				<td width = "10%">{{ game[1] }}</td>
				<td width = "50%">{{ game[2] }}</td>
				<td width = "20%">{{ game[3] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	{{ person_name }} has no games you want!
	{% endif %}
</div>
<div class="top-pad-one">
	{% if you_diff %}
	games {{ person_name }} owns that are not in your playlist<br>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th width = "20%">title</th>
				<th width = "10%">platform</th>
				<th width = "50%">description</th>
				<th width = "20%">image</th>
			</tr>
		</thead>
		<tbody>
			{% for game in you_diff %}
			<tr>
				<td width = "20%">{{ game[0] }}</td>
				<td width = "10%">{{ game[1] }}</td>
				<td width = "50%">{{ game[2] }}</td>
				<td width = "20%">{{ game[3] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	{{ person_name }} has no other games!
	{% endif %}
</div>
{% endblock %}