<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="initial-scale=1.0">
	<meta charset="utf-8">
	<title>maph4ck | search. trade. play.</title>
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="/stylesheets/map.css" rel="stylesheet">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>
	<script src="/scripts/alerts.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
</head>
<body>
	<div id="panel" class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title"><a href="/user/{{ person.key.urlsafe() }}"><img class="display-pic" src="{{ person.pic }}">{{ person.name }}</a>'s locations</h3>
		</div>
		<div class="panel-body">
			<div id="alerts"></div>
			<p><img src="http://maps.google.com/mapfiles/ms/micons/blue-dot.png"> {{ person.name }}'s locations</p>
		</div>
	</div>
	<div id="map-canvas"></div>
	<script>
		var map;

		function initialize() {
			var locations = {{ locations|safe }};
			map = new google.maps.Map(document.getElementById('map-canvas'));
			var bounds = new google.maps.LatLngBounds();

			if (locations.length) {
				for (var i = 0; i < locations.length; i++) {
					var latlng = new google.maps.LatLng(locations[i].location.lat, locations[i].location.lon);
					bounds.extend(latlng);

					var location_marker = new google.maps.Marker({
						position: latlng,
						map: map,
					icon: 'http://maps.google.com/mapfiles/ms/micons/blue-dot.png',
					});
				}

				map.fitBounds(bounds);
				map.panToBounds(bounds);
			} else {
				var geocoder = new google.maps.Geocoder();
				geocoder.geocode({'componentRestrictions': {country: '{{ person.country }}'}}, function(results, status) {
					if (status == google.maps.GeocoderStatus.OK) {
						map.setCenter(results[0].geometry.location);
						map.fitBounds(results[0].geometry.viewport);
					} else {
						$('#alerts').append(alertBootstrap('danger', 'Geocode was not successful for the following reason: ' + status));
					}
				});

				$('#alerts').append(alertBootstrap('info', '{{ person.name }} has not added any locations.'));
			}
		}

		google.maps.event.addDomListener(window, 'load', initialize);
	</script>
</body>
</html>