{% extends 'public/base.html' %}
{% block content %}
{% set person_id = person.key.urlsafe() %}
<div class="page-header">
	<h1>
		<img class="display-pic-lg" src="{{ person.pic }}">{{ person.name }}
		<a class="btn btn-default" href="/user/locations/{{ person_id }}">
			<span class="glyphicon glyphicon-map-marker"></span>
		</a>
	</h1>
</div>
<div class="well">
	<p>Country: {{ person.country }}</p>
	<p>Bio: {{ person.bio or 'none' }}</p>
</div>
<div class="games-block">
	<ul class="nav nav-tabs nav-justified" role="tablist">
		<li class="active"><a href="#inventory" role="tab" data-toggle="tab">Inventory</a></li>
		<li><a href="#playlist" role="tab" data-toggle="tab">Playlist</a></li>
	</ul>
	<div class="tab-content">
		<div id="inventory" class="tab-pane fade in active top-pad-ten ">
			{% if inventory.count() %}
			<div class="table-responsive">
				<table class="sortable table table-bordered table-striped">
					<thead>
						<th width="40%">Title</th>
						<th width="10%">Platform</th>
						<th class="sorttable_nosort" width="20%" style="text-align: left">Description</th>
						<th class="sorttable_nosort" width="20%">Picture</th>
						<th width="10%">New</th>
					</thead>
					<tbody>
						{% for game in inventory %}
						{% set game_id = game.key.urlsafe() %}
						<tr id="{{ game_id }}">
							<td width="40%">{{ game.title }}</td>
							<td width="10%">{{ game.platform }}</td>
							<td width="20%" style="text-align: left">{{ game.description or 'None' }}</td>
							<td width="20%">{% if game.pic %}<a href="{{ game.pic }}" target="_blank"><img src="{{ game.pic }}"></a>{% else %}-{% endif %}</td>
							<td width="10%">{% if game.wrapped %}New{% else %}-{% endif %}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
			<div class="alert alert-info">
				No games in <img class="display-pic" src="{{ person.pic }}"> {{ person.name }}'s inventory!
			</div>
			{% endif %}
		</div>
		<div id="playlist" class="tab-pane fade top-pad-ten">
			{% if playlist.count() %}
			<div class="table-responsive">
				<table class="sortable table table-bordered table-striped">
					<thead>
						<th width="40%">Title</th>
						<th width="10%">Platform</th>
						<th class="sorttable_nosort" width="20%" style="text-align: left">Description</th>
						<th class="sorttable_nosort" width="20%">Picture</th>
						<th width="10%">New</th>
					</thead>
					<tbody>
						{% for game in playlist %}
						{% set game_id = game.key.urlsafe() %}
						<tr id="{{ game_id }}">
							<td width="40%">{{ game.title }}</td>
							<td width="10%">{{ game.platform }}</td>
							<td width="20%" style="text-align: left">{{ game.description or 'None' }}</td>
							<td width="20%">{% if game.pic %}<a href="{{ game.pic }}" target="_blank"><img src="{{ game.pic }}"></a>{% else %}-{% endif %}</td>
							<td width="10%">{% if game.wrapped %}New{% else %}-{% endif %}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% else %}
			<div class="alert alert-info">
				No games in <img class="display-pic" src="{{ person.pic }}"> {{ person.name }}'s playlist!
			</div>
			{% endif %}
		</div>
	</div>
</div>
<div class="trades">
	<h3>Trades</h3>
	{% for trade, own_games, seek_games in trades %}
	{% set trade_id = trade.key.urlsafe() %}
	<div class="trade-block">
		<div class="row">
			<div class="col-md-12">
				<div class="trade-menu">
					<ul>
						<li><a class="btn btn-default" href="/trade/{{ trade_id }}"><span class="glyphicon glyphicon glyphicon-link"></span></a></li>
						<li><div class="trade-date">posted {{ trade.date.strftime('%c') }}</div></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Offering</h3>
					</div>
					{% if own_games|length %}
					<div class="table-responsive">
						<table class="sortable table table-bordered table-striped">
							<thead>
								<tr>
									<th width="55%">Title</th>
									<th width="15%">Platform</th>
									<th class="sorttable_nosort" width="15%">Picture</th>
									<th width="15%">New</th>
								</tr>
							</thead>
							<tbody>
								{% for game in own_games %}
								{% set game_id = game.key.urlsafe() %}
								<tr id="{{ game_id }}" class="game" title="{{ game.title }}" data-content="<p>{{ game.description or 'None' }}</p>">
									<td width="55%">{{ game.title }}</td>
									<td width="15%">{{ game.platform }}</td>
									<td width="15%">{% if game.pic %}<a href="{{ game.pic }}" target="_blank"><img src="{{ game.pic }}"></a>{% else %}-{% endif %}</td>
									<td width="15%">{% if game.wrapped %}New{% else %}-{% endif %}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					{% else %}
					<div class="panel-body trade-body">
						<div class="alert alert-info trade-alert">
							No games here!
						</div>
					</div>
					{% endif %}
					{% if trade.topup > 0 %}
					<div class="panel-footer trade-topup">
						<div class="input-group">
							<span class="input-group-addon">Topup ${{ trade.topup }}</span>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Requesting</h3>
					</div>
					{% if seek_games|length %}
					<div class="table-responsive">
						<table class="sortable table table-bordered table-striped">
							<thead>
								<tr>
									<th width="55%">Title</th>
									<th width="15%">Platform</th>
									<th class="sorttable_nosort" width="15%">Picture</th>
									<th width="15%">New</th>
								</tr>
							</thead>
							<tbody>
								{% for game in seek_games %}
								{% set game_id = game.key.urlsafe() %}
								<tr id="{{ game_id }}" class="game" title="{{ game.title }}" data-content="<p>{{ game.description or 'none' }}</p>">
									<td width="55%">{{ game.title }}</td>
									<td width="15%">{{ game.platform }}</td>
									<td width="15%">{% if game.pic %}<a href="{{ game.pic }}" target="_blank"><img src="{{ game.pic }}"></a>{% else %}-{% endif %}</td>
									<td width="15%">{% if game.wrapped %}New{% else %}-{% endif %}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					{% else %}
					<div class="panel-body trade-body">
						<div class="alert alert-info trade-alert">
							No games here!
						</div>
					</div>
					{% endif %}
					{% if trade.topup < 0 %}
					<div class="panel-footer trade-topup">
						<div class="input-group">
							<span class="input-group-addon">Topup ${{ -trade.topup }}</span>
						</div>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
		<h4>Description</h4>
		<p>{{ trade.description or 'None' }}</p>
	</div>
	{% else %}
	<div class="alert alert-info">
		<img class="display-pic" src="{{ person.pic }}"> {{ person.name}} has no active trades!
	</div>
	{% endfor %}
</div>
<script>
	window.onload = function() {
		$.getScript('/scripts/sorttable.js');
	}
</script>
{% endblock %}