{% extends 'user/base.html' %}
{% block content %}
<div class="page-header">
	<h1>Friends</h1>
</div>
<div id="alerts">
	{% if not friends|length %}
	<div class="alert alert-info">
		No friends!
	</div>
	{% endif %}
</div>
{% for person in friends %}
{% set person_id = person.key.urlsafe() %}
<div id="{{ person_id }}">
	<a href="/user/{{ person_id }}"><img class="display-pic" src="{{ person.pic }}">{{ person.name }}</a>
	<button type="button" class="btn btn-default delete" value="{{ person_url }}">
		<span class="glyphicon glyphicon glyphicon-remove"></span>
	</button>
</div>
{% endfor %}
<script>
	window.onload = function() {
		$('.delete').click(function(e) {
			clearAlerts();

			var person_url = $(this).val();

			$.ajax({
				type: 'POST',
				url: '/trades/delete',
				data: {person_url: person_url},
				success: function(data, textStatus, jqXHR) {
					console.log(data);
					console.log(textStatus);
					console.log(jqXHR);

					$('#alerts').append(alertBootstrap('success', 'Friend removed.'));
					alertTimeout(5000);

					$('#' + person_url).remove();
				},
				error: function(jqXHR, textStatus, errorThrown) {
					console.log(jqXHR);
					console.log(textStatus);
					console.log(errorThrown);
					var errors = eval(jqXHR.responseText);

					for (var i = 0; i < errors.length; i++) {
						$('#alerts').append(alertBootstrap('danger', errors[i]));
					}
				},
			});
		});

		$('#nav-dashboard').addClass('active');
		$('#nav-friends').addClass('active');
	}
</script>
{% endblock %}