{% extends 'user/base.html' %}
{% block content %}
<div class="page-header">
	<h1>
		Add Trade
		<a class="btn btn-default" href="/trades">Back</a>
	</h1>
</div>
<div id="alerts">
	{% if not inventory.count() and not playlist.count() %}
	<div class="alert alert-info">
		No games in your inventory and playlist! Add games to your inventory/playlist before creating a trade.
	</div>
	{% endif %}
</div>
{% if inventory.count() or playlist.count() %}
<form id="add" class="form-horizontal" role="form">
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Inventory</h3>
				</div>
				{% if inventory.count() %}
				<div class="table-responsive">
					<table id="inventory" class="sortable table table-bordered table-striped">
						<thead>
							<tr>
								<th class="sorttable_nosort" width="5%"></th>
								<th width="50%">Title</th>
								<th width="15%">Platform</th>
								<th class="sorttable_nosort" width="15%">Picture</th>
								<th width="15%">New</th>
							</tr>
						</thead>
						<tbody>
							{% for game in inventory %}
							{% set game_id = game.key.urlsafe() %}
							<tr id="{{ game_id }}" class="game" title="{{ game.title }}" data-content="<p>{{ game.description or 'None' }}</p>">
								<td width="5"><input type="checkbox" class="own" value="{{ game_id }}"></td>
								<td width="50%">{{ game.title }}</td>
								<td width="15%">{{ game.platform }}</td>
								<td width="15%">{% if game.pic %}<a href="{{ game.pic }}" target="_blank"><img src="{{ game.pic }}"></a>{% else %}-{% endif %}</td>
								<td width="15%">{% if game.wrapped %}New{% else %}-{% endif %}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{% else %}
				<div class="panel-body trade-body">
					<div class="alert alert-info trade-alert">
						No games in your inventory!
						<a class="btn btn-default btn-sm" href="/inventory/add">
							<span class="glyphicon glyphicon-plus"></span>
						</a>
					</div>
				</div>
				{% endif %}
				<div id="offer" class="panel-footer trade-topup">
					<div class="input-group">
						<span class="input-group-addon">Topup $</span>
						<input id="offer-amt" type="number" class="form-control price" step="1" value="0" style="text-align: right">
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Playlist</h3>
				</div>
				{% if playlist.count() %}
				<div class="table-responsive">
					<table class="sortable table table-bordered table-striped">
						<thead>
							<tr>
								<th class="sorttable_nosort" width="5%"></th>
								<th width="50%">Title</th>
								<th width="15%">Platform</th>
								<th class="sorttable_nosort" width="15%">Picture</th>
								<th width="15%">New</th>
							</tr>
						</thead>
						<tbody>
							{% for game in playlist %}
							{% set game_id = game.key.urlsafe() %}
							<tr id="{{ game_id }}" class="game" title="{{ game.title }}" data-content="<p>{{ game.description or 'None' }}</p>">
								<td width="5%"><input type="checkbox" class="seek" value="{{ game_id }}"></td>
								<td width="50%">{{ game.title }}</td>
								<td width="15%">{{ game.platform }}</td>
								<td width="15%">{% if game.pic %}<a href="{{ game.pic }}" target="_blank"><img src="{{ game.pic }}"></a>{% else %}-{% endif %}</td>
								<td width="15%">{% if game.wrapped %}New{% else %}-{% endif %}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{% else %}
				<div class="panel-body trade-body">
					<div class="alert alert-info trade-alert">
						No games in your playlist!
						<a class="btn btn-default btn-sm" href="/playlist/add">
							<span class="glyphicon glyphicon-plus"></span>
						</a>
					</div>
				</div>
				{% endif %}
				<div id="request" class="panel-footer trade-topup">
					<div class="input-group">
						<span class="input-group-addon">Topup $</span>
						<input id="request-amt" type="number" class="form-control price" step="1" value="0" style="text-align: right">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="description" class="col-sm-2 control-label">Description</label>
		<div class="col-sm-10">
			<div class="input-group">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-list"></span>
				</span>
				<textarea id="description" class="form-control" maxlength="500" rows="5" placeholder="Add more info"></textarea>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default pull-right">Add</button>
		</div>
	</div>
</form>
{% endif %}
<script>
	window.onload = function() {
		$('#offer-amt').on('blur', function() {
			if ($(this).val() == '') {
				$(this).val(0);
			} else if ($(this).val() != 0) {
				$('#request-amt').val(0);
			}
		});

		$('#request-amt').on('blur', function() {
			if ($(this).val() == '') {
				$(this).val(0);
			} else if ($(this).val() != 0) {
				$('#offer-amt').val(0);
			}
		});

		$('#add').submit(function(e) {
			e.preventDefault();
			clearAlerts();
			$(':input').prop('disabled', true);

			var trade = {
				own_urls: [],
				seek_urls: [],
				offer_amt: parseInt($('#offer-amt').val()),
				request_amt: parseInt($('#request-amt').val()),
				description: $('#description').val().trim(),
			};

			$('.own').each(function() {
				if (this.checked) {
					trade.own_urls.push(this.value);
				}
			});

			$('.seek').each(function() {
				if (this.checked) {
					trade.seek_urls.push(this.value);
				}
			});

			if (isNaN(trade.offer_amt)) {
				$('#alerts').append(alertBootstrap('danger', 'Invalid offer topup amount.'));
			} else if (isNaN(trade.request_amt)) {
				$('#alerts').append(alertBootstrap('danger', 'Invalid request topup amount.'));
			} else if (trade.offer_amt > 0 && trade.request_amt > 0) {
				$('#alerts').append(alertBootstrap('danger', 'You cannot offer and request a topup amount at the same time.'));
			} else if (!trade.own_urls.length && !trade.seek_urls.length) {
				$('#alerts').append(alertBootstrap('danger', 'Trade cannot be empty.'));
			} else if ((trade.own_urls.length || trade.offer_amt > 0) && !trade.seek_urls.length && trade.request_amt == 0) {
				$('#alerts').append(alertBootstrap('danger', 'Add a topup amount or games you want to trade for.'));
			} else if (!trade.own_urls.length  && trade.offer_amt == 0 && (trade.seek_urls.length || trade.request_amt > 0)) {
				$('#alerts').append(alertBootstrap('danger', 'Add a topup amount or games you want to trade away.'));
			} else {
				$.ajax({
					type: 'POST',
					url: '/trades/add',
					data: JSON.stringify(trade),
					contentType: 'application/json',
					success: function(data, textStatus, jqXHR) {
						console.log(data);
						console.log(textStatus);
						console.log(jqXHR);

						$('#alerts').append(alertBootstrap('success', 'Trade added.'));
						alertTimeout(5000);

						$('#add')[0].reset();
					},
					error: function(jqXHR, textStatus, errorThrown) {
						console.log(jqXHR);
						console.log(textStatus);
						console.log(errorThrown);
						var errors = eval(jqXHR.responseText);

						for (var i = 0; i < errors.length; i++) {
							$('#alerts').append(alertBootstrap('danger', errors[i]));
						}
					},
				});
			}

			$(':input').prop('disabled', false);
		});

		$.getScript('/scripts/sorttable.js');
		$('#nav-trades-add').addClass('active');
	}
</script>
{% endblock %}